@use "../../../../../../../scss/abstract/" as *;
.mainsearchwomen {
    width: 100%;
    position:relative;
    .emptyboxsection {
        background: #e95a5a;
        opacity: 0.24;
        filter: blur(329px);
        position: absolute;
        width: 20%;
        height: 20%;
        right: 0;
    }
    .emptyboxsectionleft
    {
        background: #FECF9D;
        opacity: 0.24;
        filter: blur(329px);
        position: absolute;
        width: 20%;
        height: 20%;
        left: 0;
        top:20%;
    }
    .insidesearchwomen {
        width: 75%;
        margin: 0 auto;
        padding-top: 2%;
        @include xsBreakPoint {
            width: 85%;
            padding-top: 6%;
        }
        @include smBreakPoint {
            width: 85%;
            padding-top: 6%;
        }
        @include mdBreakPoint {
            width: 85%;
        }
        @include lgBreakPoint {
            width: 89%;
        }
        @include xlBreakPoint {
            width: 85%;
        }
        .splitwomensearch {
            width: 100%;
            display: flex;
            @include xsBreakPoint {
                flex-direction: column;
            }
            @include smBreakPoint {
                flex-direction: column;
            }
            .leftwomensearchsection {
                width: 50%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                @include xsBreakPoint {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                }
                @include smBreakPoint {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                }

                .heartimagesection {
                    position: absolute;
                    top: 3%;
                    cursor: pointer;
                    left: 3%;
                    .btn {
                        border: none;
                        background: transparent;
                        color: black;
                        font-size: 22px;
                    }
                }
                .ratingsection {
                    display: flex;
                    align-items: center;

                    gap: 30px;
                    .star {
                        width: 15px;
                        height: 15px;
                    }
                }
                .ratingsections {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    .star {
                        width: 15px;
                        height: 15px;
                    }
                }

                .serachlargeimage {
                    width: 80%;
                    height: 300px;
                    object-fit: cover;
                    margin: 0 auto;
                    border-radius: 10px;
                    @include xsBreakPoint {
                        width: 100%;
                        height: auto;
                    }
                    @include smBreakPoint {
                        width: 100%;
                        height: 150px;
                    }
                    @include mdBreakPoint {
                        width: 100%;
                        height: 200px;
                    }
                }
            }
            .rightwomensearchsection {
                width: 50%;
                @include xsBreakPoint {
                    width: 100%;
                    padding-top: 6%;
                }
                @include smBreakPoint {
                    width: 100%;
                    padding-top: 6%;
                }
                .imagesearch {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    border-radius: 5px;
                }
                .activewomen {
                    border: 2px solid #e95a5a;
                }
                .searchimagesections {
                    width: 28%;
                    padding: 10px;
                    border-radius: 10px;
                    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
                }
            }
        }
        .insidesplitanothecart {
            display: flex;
            @include xsBreakPoint {
                flex-direction: column;
            }
            @include smBreakPoint {
                flex-direction: column;
            }
            @include mdBreakPoint {
                flex-direction: column;
            }
            .leftinsideanothersection {
                width: 50%;
                @include xsBreakPoint {
                    width: 100%;
                }
                @include smBreakPoint {
                    width: 100%;
                }
                @include mdBreakPoint {
                    width: 100%;
                }
                .ratingsection {
                    display: flex;
                    align-items: center;

                    gap: 30px;
                    .star {
                        width: 15px;
                        height: 15px;
                    }
                }
                .ratingsections {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    .star {
                        width: 15px;
                        height: 15px;
                    }
                }

                .loreamsectionproduct {
                    width: 100%;
                    display: flex;
                    // border:2px solid red;
                    flex-direction: column;
                    gap: 10px;
                    padding-top: 2%;
                    .loremtextwidth {
                        width: 70%;
                        @include xsBreakPoint {
                            width: 100%;
                        }
                        @include smBreakPoint {
                            width: 100%;
                        }
                        @include mdBreakPoint {
                            width: 100%;
                        }
                        @include lgBreakPoint {
                            width: 100%;
                        }
                    }
                }
            }
            .rightinsideanothersection {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                @include xsBreakPoint {
                    width: 100%;
                }
                @include smBreakPoint {
                    width: 100%;
                }
                @include mdBreakPoint {
                    width: 100%;
                }
                .cartaddsection {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    // border:2px solid red;
                    gap: 20px;
                    padding-top: 3%;
                    .cartpricesection {
                        display: flex;
                        align-items: center;
                        gap: 30px;
                    }
                    .addcartbutton {
                        border: 1px solid #e95a5a;
                        color: #e95a5a;
                        font-weight: 700;
                        filter: drop-shadow(0px 11px 27px rgba(192, 48, 51, 0.25));
                        border-radius: 12px;
                        width: 150px;
                    }
                    .bynowcartbutton {
                        background: #e95a5a;
                        box-shadow: 0px 11px 27px rgba(192, 48, 51, 0.25);
                        width: 150px;
                        border-radius: 12px;
                        color: white;
                    }
                }
            }
        }
    }
    .reviewsection {
        // border: 2px solid red;
        padding: 5% 0px;
        margin-top: 5%;
        background-color: #f9f9f9;
    }
}
