@use "../../../../../../scss/abstract/" as *;

.blogmainsection {
    width: 100%;
    padding-top: 5%;
    .insideblogsection {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        // border:2px solid red;
        @include xsBreakPoint {
            width: 85%;
            // padding-top: 6%;
        }
        @include smBreakPoint {
            width: 85%;
            padding-top: 6%;
        }
        @include mdBreakPoint {
            width: 85%;
        }
        @include lgBreakPoint {
            width: 89%;
        }
        @include xlBreakPoint {
            width: 85%;
        }
        .blogimages {
            width: 100%;
            height: 300px;
            // object-fit: cover;
            border-radius:20px;
            @include mdBreakPoint {
                width: 100%;
                height: 200px;
            }
        }
    }
}




 
    .insidemakesection {
        width: 100%;
        margin: 0 auto;
        padding-top: 3%;
        @include xsBreakPoint {
            width: 85%;
            // padding-top: 6%;
        }
        @include smBreakPoint {
            width: 85%;
            padding-left: 1%;

            padding-top: 6%;
        }
        @include mdBreakPoint {
            width: 85%;
        }
        @include lgBreakPoint {
            width: 89%;
        }
        @include xlBreakPoint {
            width: 85%;
        }
        .whatmakeimage {
            width: 93%;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            border-radius: 6px;
            cursor: pointer;
        }
    }

    .blogsectiontexts
    {
        // border: 2px solid red;
        width: 80%;
        margin: 0 auto;
    }
    .insideslidess {
        width: 100%;
        display: flex;
        .slideimagesizes {
            width: 200px;
            height: 200px;
            text-align: center;
            cursor: pointer;
            border-radius: 6px;
            @include smBreakPoint {
                width: 170px;
                height: 170px;
            }
            @include mdBreakPoint {
                width: 170px;
                height: 170px;
            }
        }
        .cardsslide {
            width: 25%;
            // background-color:red;
            // border:3px solid blue;
        }
    }
    .insideslides {
        width: 100% !important;
        // border: 3px solid blue;
        margin: 0 auto;
        // padding-left: 13%;
        // overflow: hidden;
        // background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        .slideimagesize {
            width: 200px;
            height: 200px;
            text-align: center;
            cursor: pointer;
            border-radius: 6px;
            margin: 0 auto;
            @include smBreakPoint {
                width: 170px;
                height: 170px;
            }
            @include mdBreakPoint {
                width: 170px;
                height: 170px;
            }
        }
        .slideimagesize:hover {
            transform: scale(1.1);
        }
    }

