@use "../../../../../../../../scss/abstract/" as *;

.mainsection {
  //   display: flex;
  width: 80%;
  padding: 2%;
  margin-left: 10%;
  @include mdBreakPoint {
    padding: 0%;
  }
  @include lgBreakPoint {
    padding: 0%;
  }
  @include smBreakPoint {
    padding: 0%;
  }
  .inside {
    display: flex;
    justify-content: space-between;
    @include smBreakPoint {
      width: 510px;
    }
    @include mdBreakPoint {
      width: 720px;
    }
    @include lgBreakPoint {
      width: 860px;
    }
    .show {
      border: 1px solid #e95a5a;
      border-radius: 10px;
      color: #e95a5a;
      width: 9%;
      height: 38px;
      @include smBreakPoint {
        width: 20%;
        margin-left: 10%;
      }
      @include mdBreakPoint {
        width: 14%;
      }
      @include lgBreakPoint {
        width: 10%;
      }
    }
  }
  .insidecontainer {
    display: flex;
    margin-top: 3%;
    gap: 30px;
    @include smBreakPoint {
      display: contents;
    }
    @include mdBreakPoint {
      display: contents;
    }
    @include lgBreakPoint {
      width: 865px;
    }
    .leftinsidesection {
      width: 40%;
      border: 1px solid black;
      border-radius: 10px;

      @include smBreakPoint {
        width: 510px;
        margin-top: 2%;
      }
      @include mdBreakPoint {
        width: 720px;
        margin-top: 2%;
      }
      .leftContainer1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 2%;

        .shipmentpara {
          margin-bottom: 0%;
          font-size: 16px;
          font-weight: 400;
          opacity: 0.6;
        }
      }
    }
    .rightinsidesection {
      //   margin-left: 2%;
      width: 60%;
      gap: 10px;
      border: 1px solid black;
      border-radius: 10px;
      border: 1px solid black;
      padding: 2%;
      @include smBreakPoint {
        width: 510px;
        margin-top: 2%;
      }
      @include mdBreakPoint {
        width: 720px;
        margin-top: 2%;
      }

      .rightContainer1 {
        width: 100%;
        gap: 30px;
        display: flex;
        @include smBreakPoint {
          display: contents;
        }
        @include lgBreakPoint {
          display: grid;
        }
        .rightContainersection1 {
          width: 60%;
          padding: 1%;
          @include smBreakPoint {
            width: 95%;
          }
          @include lgBreakPoint {
            width: 100%;
          }

          .innerstyle {
            display: flex;
            justify-content: space-between;
          }
          .innercorrier {
            font-size: 16px;
            font-weight: 400;
            opacity: 0.6;
            color: #121212;
          }

          .inner {
            display: flex;
            font-size: 16px;
            font-weight: 400;
            justify-content: space-between;
          }
          .hrcontain {
            border-style: dotted;
          }
          .receipt {
            font-size: 16px;
            font-weight: 400;
            opacity: 0.6;
            color: #121212;
            margin-bottom: 0%;
          }
        }
        .rightContainersection2 {
          width: 40%;
          padding: 1%;
          .rightinsidecontainer {
            display: flex;
            @include smBreakPoint {
              width: 480px;
            }
            @include lgBreakPoint {
              width: 100%;
            }
            .img1 {
              width: 96px;
              height: 70px;
              border-radius: 15px;
              background-color: #c4c4c4;
            }
          }
          .rightinsidecontainer1 {
            margin-left: 4%;
            .paracontent {
              font-size: small;
              font-weight: 700;
              color: #121212;
              margin-bottom: 1%;
            }
            .paracontent2 {
              font-size: 15px;
              font-weight: 400;
              color: #121212;
              margin-bottom: 1%;
            }
            .dollar {
              font-size: small;
            }
            .cancel {
              color: #e95a5a;
              margin-top: 14%;
            }
          }
        }
      }
    }
  }
}
