@use "../../../../../scss/abstract/" as *;

.mainexploresection {
    // border: 2px solid blue;
    .insideexploresection {
        width: 75%;
        margin: 0 auto;
        padding: 11% 0px;
        @include xsBreakPoint
        {
            padding:23% 0px !important;
        }
        @include smBreakPoint
        {
            padding:20% 0px !important;
        }
        .splitboxexplore {
            width: 100%;
            display: flex;
            .commontextssizes {
                font-weight: 600;
                font-size: 1rem;
            }
            .leftexplore {
                width: 22%;
            }
            .rightexplore {
                width: 78%;
            }
        }
        .explorebuttons {
            width: 100%;
            display: flex;
            gap: 50px;
            .activebutton {
                width: 40%;
                background-color: #e75b5e;
                text-align: center;
                cursor: pointer;
                padding: 10px;
                border-radius:10px;
                color:white;
                font-weight:600;
                

            }
            .inactivebutton {
                width: 40%;
                background-color: #F1F1F1;
                text-align: center;
                cursor: pointer;
                padding: 10px;
                border-radius:10px;
                font-weight:600;

            }
        }
        .socailfootersection {
            display: flex;
            padding-top: 4%;
            gap: 20px;

            .footeremptysocialsection {
                background: rgba(203, 203, 203, 0.23);
                padding: 7px 11px;
                border-radius: 7px;
                cursor: pointer;
                .footersocialicons {
                    width: 40px;
                    height: 40px;
                    object-fit: contain;
                    @include xsBreakPoint {
                        height: auto;
                    }
                    @include smBreakPoint {
                        height: auto;
                    }
                    @include mdBreakPoint {
                        height: auto;
                    }
                    @include lgBreakPoint {
                        height: auto;
                    }
                    @include xlBreakPoint {
                        height: auto;
                    }
                }
            }
        }
    }
}

.menuProps {
    border: 2px solid red !important;
}
.hovers
{
    cursor:pointer;

}

.hovers:hover
{
    color:red;
    cursor:pointer;
    border:1px solid blue;

}