@use "../../../../../../scss/abstract/" as *;

.mainaddresspage {
    width: 100%;
    // border: 2px solid blue;
    .insideaddresspage {
        width: 100%;
        // border: 4px solid orange;
        // padding-top:3%;
        .topsectionaddress {
            padding-top: 2%;
            padding-bottom: 2%;
            align-items: center;
            display: flex;
            .leftaddresssection {
                width: 50%;
                position: relative;

                .serachaddress {
                    width: 100% !important;
                    padding: 13px !important;
                    border-radius: 10px;
                    border: 1px solid #9f9f9f !important;
                    // opacity:0.5;
                    outline: none !important;
                    // font-size:1.3rem;
                }

                .searchicon {
                    position: absolute;
                    top: 18px;
                    right: 3%;
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                }
            }
            .rightaddresssection {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                .addbuttonnew {
                    width: 200px;
                    padding: 6px;
                    border-radius: 10px;
                    outline: none;
                    background-color: #e95a5a;
                    color: white;

                    border: none;
                    font-weight: 600;
                    font-size: 1.2rem !important;
                }
            }
        }
    }
    .addresslistsection {
        border: 1px solid #9f9f9f;
        border-radius: 20px;
        padding: 10px;
        margin: 14px 0px;
        .addresssplit {
            width: 100%;
            display: flex;
            .leftaddress {
                width: 7%;
                display:flex;
                // align-items:center;
                justify-content:center;
                // border:2px solid red;
                margin:0 auto;
                .map{
                    width:30px;
                    height:30px;
                    object-fit:contain;
                }
            }
            .rightaddress {
                width: 93%;
                // border:4px solid orange;
                // margin: 0 auto;
                display: flex;
                flex-direction: column;
                // align-items: center;
                // justify-content: center;
                gap: 20px;
                .editbuttonaddress {
                    border: none;
                    outline: none;
                    padding: 10px;
                    width: 130px;
                    border-radius: 10px;
                    cursor: pointer;
                    background: #e95a5a;
                    color: white;
                    font-size: 1.2rem;
                    font-weight: 600;
                }
                .deletebuttonaddress {
                    border: none;
                    outline: none;
                    padding: 10px;
                    width: 130px;
                    border-radius: 10px;
                    cursor: pointer;
                    font-size: 1.2rem;
                    font-weight: 600;
                    background: white;
                    border: 1px solid #e95a5a;
                    color: #e95a5a;
                }
            }
            
        }
      
    }
}

.notlocation
{
    width:100%;
    height:200px;
    object-fit:contain;
}

.rightaddresssection {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .addbuttonnew {
        width: 200px;
        padding: 6px;
        border-radius: 10px;
        outline: none;
        background-color: #e95a5a;
        color: white;

        border: none;
        font-weight: 600;
        font-size: 1.2rem !important;
    }
}