@use "../../../../scss/abstract/" as *;

.maincartsection {
    width: 100%;
    .insidecartsectionmain {
        width: 75%;
        margin: 0 auto;
        display: flex;
        @include xsBreakPoint
        {
            flex-direction:column;
        }
        @include smBreakPoint
        {
            flex-direction:column;
        }
        @include mdBreakPoint
        {
            flex-direction:column;
        }
        @include xsBreakPoint {
            width: 85%;
            padding-top: 6%;
        }
        @include smBreakPoint {
            width: 85%;
            padding-top: 6%;
        }
        @include mdBreakPoint {
            width: 85%;
        }
        @include lgBreakPoint {
            width: 89%;
        }
        @include xlBreakPoint {
            width: 85%;
        }
        .leftcartsection {
            width: 50%;
            @include xsBreakPoint
            {
                width:100%;
            }
            @include smBreakPoint
            {
                width:100%;
            }
            @include mdBreakPoint
            {
                width:100%;
            }
            @include lgBreakPoint
            {
                width:100%;
            }
            @include xlBreakPoint
            {
                width:100%;
            }
            .sellectallsection {
                display: flex;
                gap: 10px;
            }
            .removesection {
                color: #e95a5a;
                border-bottom: 2px solid #e95a5a;
                font-weight: 600;
                cursor:pointer;
            }
            .removesectioncart {
                border: 1px solid #c4c4c4;
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 10px 20px;
                border-radius: 10px;
            }
            .cartshowsection {
                width: 100%;
                border: 1px solid #c4c4c4;
                border-radius: 10px;
                .checkboxsectioncart {
                    display: flex;
                    // border: 2px solid red;
                    justify-content: space-between;
                    padding: 3px 20px;
                    .insidestorenamesection {
                        display: flex;
                        gap: 10px;
                    }
                }
                .cartimageaddsection {
                    display: flex;
                    justify-content: space-between;
                    padding: 0px 20px;
                    margin-top: 2%;
                    margin-bottom: 2%;
                    .imagecart {
                        display: flex;
                        gap: 20px;
                        .cartimagedummy {
                            width: 80px;
                            height: 80px;
                            border-radius: 10px;
                            background-color: grey;
                            @include xsBreakPoint
                            {
                                width:60px;
                                height:60px;
                            }
                        }
                        .controlcontentcart {
                            width: 55%;
                        }
                    }
                }
            }
        }
        .rightcartsection {
            width: 50%;
            padding-top:2%;
            @include xsBreakPoint
            {
                width:100%;
            }
            @include smBreakPoint
            {
                width:100%;
            }
            @include mdBreakPoint
            {
                width:100%;
            }
            @include lgBreakPoint
            {
                width:100%;
            }
            @include xlBreakPoint
            {
                width:100%;
            }
            .cartpricesectionright {
                width: 70%;
                border: 2px solid #c4c4c4;
                margin: 0 auto;
                border-radius: 10px;
                padding: 20px 30px;
                @include xsBreakPoint
                {
                    width:100%;
                }
                @include smBreakPoint
                {
                    width:100%;
                }
                @include mdBreakPoint
                {
                    width:100%;
                }
                @include lgBreakPoint
                {
                    width:80%;
                }
                .usepromocart {
                    border: 2px solid #c4c4c4;
                    border-radius: 10px;
                    display:flex;
                    align-items:center;
                    gap:20px;
                    padding:10px 20px;
                    .promo
                    {
                        width:40px;
                        height:40px;
                        object-fit:cover;
                    }
                    .codepromo
                    {
                        font-size:1.4rem;
                        font-weight:600;
                        @include xsBreakPoint
                        {
                            font-size:1rem;
                        }
                    }
                   
                }
                .totalpricesection
                {
                    display:flex;
                    justify-content:space-between;
                    padding-top:3%;
                    color:#121212;
                    font-weight:500;
                }
                .bordersection
                {
                    
                border: 1px solid #c4c4c4;
             margin-top:6%;
             margin-bottom:2.5%;

                }
                .shoppingsummary
                {
                    font-size:1.2rem;
                    font-weight:600;
                }
                .checkoutbutton
                {
                    background-color:#E95A5A;
                    color:white;
                    padding:10px;
                    border-radius: 10px;
                    cursor:pointer;
                    width:100%;
                    font-size:1.3rem;
                    font-weight:600;
                }
            }
        }
    }
}
