@use "../../../../../../scss/abstract/" as *;
.mainservicepayment {
    width: 100%;
    // border: 2px solid blue;
    height: 100%;
    padding-bottom: 5%;

    .insideservicepayment {
        width: 100%;
        display: flex;
        @include xsBreakPoint
        {
            flex-direction:column;
            padding-bottom:10%;
        }
        @include smBreakPoint
        {
            flex-direction:column;
            padding-bottom:10%;
        }
        @include mdBreakPoint
        {
            padding-top:10%;
        }
        .leftservicepayment {
            width: 50%;
            // border: 3px solid orange;
            height: 100%;
            @include xsBreakPoint
            {
                width:100%;
            }
            @include smBreakPoint
            {
                width:100%;
            }
            @include mdBreakPoint
            {
                width:100%;
            }
            @include lgBreakPoint
            {
                width:100%;
            }
            .selectpayment {
                font-size: 2rem;
                font-weight: 600;
                @include xsBreakPoint
                {
                    font-size:1.4rem;
                }
                @include mdBreakPoint
                {
                    font-size:1.7rem;
                }
            }
            .paymentmethod {
                color: rgba(0, 0, 0, 0.5);
                font-size: 24px;
                padding-top: 2%;
            }
        }
        .rightservicepayment {
            width: 50%;
            // border: 3px solid red;
            float: right;
            height: 100%;
            @include xsBreakPoint
            {
                width:100%;
                padding-top:10%;
            }
            @include smBreakPoint
            {
                width:100%;
                padding-top:10%;

            }
            @include mdBreakPoint
            {
                width:100%;
              

            }
            @include lgBreakPoint
            {
                width:100%;
            }
            .confirmpay {
                width: 80%;
                margin: 0 auto;
                border: none;
                outline: none;
                padding: 7px;
                background: #e95a5a;
                border-radius: 12px;
                color: white;
                font-size: 1.4rem;
                font-weight: 550;
                display: flex;
                align-items: center;
                justify-content: center;
                
            }
            .confirmpay:hover {
                color: #fecf9d;
            }

            .insideservicepaymentinright {
                width: 100%;
                .price {
                    color: #0d0c22;
                    font-size: 24px;
                    font-weight: 600;
                }
                .insiderightpaymentcard {
                    width: 65%;
                    // border:4px solid green;
                    background: #ffffff;
                    box-shadow: 0px 0px 15px #edf2f2;
                    border-radius: 10px;
                    float: right;
                    padding-bottom: 8%;
                    @include xsBreakPoint
                    {
                        width:100%;
                    }
                    @include smBreakPoint
                    {
                        width:70%;
                        margin:0 auto;
                      
                        float:none;
                    }
                    @include mdBreakPoint
                    {
                        width:95%;
                        // margin:0 auto;
                        // float:none;
                    }
                    @include lgBreakPoint
                    {
                        width:79%;
                    }
                    @include xlBreakPoint
                    {
                        width:72%;
                    }
                }
                .servicepayment {
                    width: 90%;
                    margin: 0 auto;
                    // border: 1px solid blue;
                    .quantity {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        padding-bottom: 4%;
                        padding-top: 4%;
                    }
                }
                .bordersections {
                    opacity: 0.1;
                    border: 1px dashed #0d0c22;
                }
                .totalamount {
                    display: flex;
                    width: 90%;
                    display: flex;
                    justify-content: space-between;
                    margin: 0 auto;
                    align-items: center;
                    .total {
                        font-weight: 700;
                        font-size: 30px;
                    }
                    .totals {
                        font-weight: 400;
                        font-size: 32px;
                        opacity: 0.4;
                    }
                    .totalflex {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;
                    }
                    .amount {
                        font-size: 24px;
                        font-weight: 400;
                    }
                }
            }
            .bannserpaymentservice {
                width: 100%;
                height: 200px;
                // object-fit: cover;
                border-radius: 20px;
            }
        }
    }
}

.paymentsection {
    padding: 30px 0px;
    border-bottom: 1px dashed #9f9f9f;
    display: flex;
    gap: 50px;
    display: flex;
    // border:1px solid red;
    align-items: center;
}
.usepayments {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    background-color: rgba(233, 90, 90, 1);
    font-weight: 600;
}

.strips {
    width: 100%;
    height: 60px;
    object-fit: contain;
    cursor: pointer;
}

.radiobuttons {
    width: 15px !important;
    height: 15px !important;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
    outline: none;
}

.radiobuttons:checked:before {
    background: green !important;
}
