@use "../../../../../../scss/abstract/" as *;
.mainservicepayment {
    width: 100%;
    // border: 2px solid blue;
    height:100%;
    padding-bottom: 5%;

    .insideservicepayment {
        width: 100%;
        display: flex;
        .leftservicepayment {
            width: 50%;
            // border: 3px solid orange;
            height:100%;
            .selectpayment
            {
                font-size: 2rem;
                font-weight: 600;
            }
            .paymentmethod
            {
                color: rgba(0, 0, 0, 0.5);
                font-size: 24px;
            }

        }
        .rightservicepayment {
            width: 50%;
            // border: 3px solid red;
            float: right;
            height:100%;
            .confirmpay
            {
                width: 80%;
                margin:0 auto;
                border:none;
                outline: none;
                padding:10px;
                background: #E95A5A;
                border-radius: 12px;
                color: white;
                font-size: 24px;
                font-weight: 600;
                display:flex;
                align-items: center;
                justify-content: center;
            }

            .insideservicepaymentinright {
                width: 100%;
                .price
                {
                    color: #0D0C22;
                    font-size: 24px;
                    opacity: 0.4;
                    font-weight: 400;
                }
                .insiderightpaymentcard {
                    width: 90%;
                    // border:4px solid green;
                    background: #ffffff;
                    box-shadow: 0px 0px 15px #edf2f2;
                    border-radius: 10px;
                    float: right;
                    padding-bottom: 8%;
                }
                .servicepayment {
                    width: 90%;
                    margin: 0 auto;
                    // border: 1px solid blue;
                    .quantity {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                padding-bottom: 4%;
                padding-top:4%;

                    }
                }
                .bordersections
                {
                    opacity: 0.1;
                    border: 1px dashed #0D0C22;
                }
                .totalamount
                {
                    display: flex;
                    width:90%;
                    display: flex;
                    justify-content: space-between;
                    margin: 0 auto;
                    align-items: center;
                    .total
                    {
                        font-weight: 700;
                        font-size: 48px;
                    }
                    .totals
                    {
                        font-weight: 400;
                        font-size:32px;
                        opacity: 0.4;
                    }
                    .totalflex
                    {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap:10px;
                    }
                    .amount
                    {
                        font-size: 24px;
                        font-weight: 400;
                    }
                }
            }
            .bannserpaymentservice {
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 20px;
            }
        }
    }
}
