@use "../../../../scss/abstract/" as *;

.womenlogo {
    width: 140px;
    object-fit: contain;
    height: 140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.emailtextsexists {
    width: 80%;
    margin: 0 auto;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    color: #e95a5a;
    padding: 4% 0px;
}

.authlogin {
    width: 30%;
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: #e95a5a;
    cursor: pointer;
    font-weight: 600;
    border: none;
    outline: none;
    font-size: 1.3rem;
    font-weight: 600;
}

.roundlogins {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 4%;
}

.logsection {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0px;
}
