@use "../../../../scss/abstract/" as *;

.mainheadersection {
    // border:1px solid red;
    background: rgba(255, 255, 255);
    box-shadow: 0px -27px 120px rgba(0, 0, 0, 0.08);
    padding: 10px 0px;
    z-index: 989;
    .insidesectionheader {
        width: 75%;
        margin: 0 auto;
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        @include lgBreakPoint {
            width: 89%;
        }
        @include xlBreakPoint {
            width: 85%;
        }

        .insidesplitheader {
            // border: 2px solid red;
            width: 100%;
            // padding: 10px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            .leftlogo {
                width: 15%;
                // border: 2px solid orange;
                display: flex;
                justify-content: flex-start;
                .womeynlogo {
                    width: 100%;
                    object-fit: contain;
                    height: 30px;
                    cursor: pointer;
                    // border:3px solid orange;
                }
            }
            .middlelogo {
                width: 65%;
                // border: 2px solid green;
                display: flex;
                align-items: center;
                // justify-content: space-between;
                .insidemiddlelogo {
                    width: 100%;

                    .boxinside {
                        width: 100%;
                        display: flex;
                        gap: 5px;
                        align-items: center;
                        // border:2px solid red;
                        @include lgBreakPoint {
                            gap: 0px;
                        }
                        .leftheaderbox {
                            width: 70%;
                            // margin:0 auto;
                            position: relative;
                            @include lgBreakPoint
                            {
                                width:65%;
                            }
                        }
                        .rightheaderbox {
                            width: 30%;
                            @include lgBreakPoint {
                                width: 35%;
                            }
                            @include xlBreakPoint {
                                width: 33%;
                            }
                        }
                    }
                }
                .inputsearchsection {
                    display: flex;
                    width: auto;
                    padding: 0px 2px;
                    background: #f1f1f1;
                    border-radius: 8px;
                    align-items: center;
                    justify-content: center;
                    width: 80%;
                    margin: 0 auto;
                    @include lgBreakPoint {
                        width: 80%;
                        padding: 4px 10px;
                    }
                    @include xlBreakPoint {
                        width: 80%;
                        padding: 4px 10px;
                    }
                }
                .Seller {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1rem;
                    font-weight: 550;
                    cursor: pointer;
                    background-color: #e95a5a;
                    width: 100%;
                    padding: 5px;
                    border-radius: 5px;
                    color: white;
                    @include lgBreakPoint {
                        width: 100%;
                        font-size: 0.889rem;
                    }
                    @include xlBreakPoint {
                        width: 100%;
                        font-size: 0.889rem;
                    }
                }
            }
            .rightlogo {
                width: 20%;
                // border: 2px solid blue;
                display: flex;
                // justify-content: space-between;
                // padding-left:5%;
                // padding-right:3%;
                // align-items:center;

                .insiderightlogos {
                    width: 100%;
                    // border:4px solid blue;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 27px;
                    @include lgBreakPoint {
                        gap: 19px;
                    }

                    .insideiconssection {
                        // width:80%;
                        // margin:0 auto;
                    }
                }
                .notifications {
                    width: 100%;
                    height: 20px;
                    cursor: pointer;
                    object-fit: contain;
                }
                .notificationsprofile {
                    width: 40px;
                    height: 40px;
                    cursor: pointer;
                    border-radius: 50%;
                    border: 2px solid #e95a5a;
                    // object-fit: contain;
                }
                .logintextsize {
                    font-size: 1.2rem;
                    font-weight: 600;
                    cursor: pointer;
                    color: #e95a5a;
                }
            }
        }

        .spliticons {
            border: 2px solid red;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .arrowflex {
            display: flex;
            width: 100%;
        }
        .profilesplit {
            display: flex;
            align-items: center;
            // justify-content:center;
            gap: 10px;
        }
        .myprofile {
            width: 20px;
            height: 20px;
        }
    }
    .maincartcount {
        // border: 2px solid red;
        position: relative;
        // width: 40px;
        // padding:10px;

        .cartcountbox {
            position: absolute;
            top: -6px;
            width: 18px;
            height: 18px;
            background: #e95a5a;
            border: 2px solid #ffffff;
            color: white;
            right: -9px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            padding: 10px;
            cursor: pointer;
            animation: bounds 3s linear infinite;
        }
    }
    .headerprofile {
        padding:5% 15px;
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;
        
        .profileimageover {
            width: 100%;
            height: 20px;
            object-fit: contain;
            cursor: pointer;
        }
        .logouttexts {
            font-weight: 600;
        }
    }
    .headerprofile:hover
    {
  background: #fff1f1;
  padding:5% 15px;


       
    }
    .profileimagesection {
        width: 40px;
        height: 40px;
        border: 3px solid #e95a5a;
        border-radius: 50%;
        cursor: pointer;
        animation: profile 5s infinite;
    }
}

@keyframes bounds {
    50% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(-2px);
    }
}

@keyframes profile {
    // 50% {
    //     transform: rotate(180deg);
    // }
    100% {
        // transform: rotate(360deg);
    }
}

.barsectiontop
{
    // border:2px solid red;
}

.middleheadersection {
    // border: 2px solid blue;
    // background: #FFFFFF;
    background: #e5e5e5;
    background-color: white;
    // opacity: 0.8;
    backdrop-filter: blur(30px);
    background: rgb(229, 229, 229, 0.3);
    padding: 2px 0px;
    // z-index: 98989898;
    // border-radius: 0px 0px 4px 4px;
    z-index: 0;

    .insidemiddlesections {
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include lgBreakPoint {
            width: 82%;
        }
        @include xlBreakPoint {
            width: 75%;
        }
    }
    .menuicons {
        width: 17px;
        height: 17px;
        cursor: pointer;
    }
    .emptyboxleftcolor {
        position: absolute;
        width: 20%;
        height: 40% !important;
        background: #e95a5a;
        opacity: 0.2;
        filter: blur(500px);
        right: 0;
        top: -5%;
    }
}

.socailfootersection {
    display: flex;
    padding-top: 4%;
    gap: 20px;

    .footeremptysocialsection {
        background: rgba(203, 203, 203, 0.23);
        padding: 7px 11px;
        border-radius: 7px;
        cursor: pointer;
        .footersocialicons {
            width: 100%;
            height: 20px;
            object-fit: contain;
            @include xsBreakPoint {
                height: auto;
            }
            @include smBreakPoint {
                height: auto;
            }
            @include mdBreakPoint {
                height: auto;
            }
            @include lgBreakPoint {
                height: auto;
            }
            @include xlBreakPoint {
                height: auto;
            }
        }
    }
}

.dropdownsectionkalai {
    // border:1px solid red;
    position: relative;
    cursor: pointer;
    .bordersections {
        position: absolute;
        width: 15vw;
        height: auto;
        z-index: 9898989898;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        cursor: pointer;
        margin-top: 15%;
        border-radius: 10px;
        padding:10px 0px;
        left: -280%;

        @include lgBreakPoint {
            width: 22vw !important;
           
            left: -400%;
        }
        @include xlBreakPoint {
            width: 20vw !important;
            left: -400%;

        
        }
    }
}

.logintexts {
    font-weight: 700;
    font-size: 1.3rem;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #e84a4e;
}

.hovertexts
{
    cursor:pointer !important;
}
.nav-link
{
    cursor:pointer !important;

}