@use "../../../../scss/abstract/" as *;

.mainheadersection {
    // border:1px solid red;
    background: rgba(255, 255, 255);
    box-shadow: 0px -27px 120px rgba(0, 0, 0, 0.08);
    padding: 10px 0px;
    .insidesectionheader {
        width: 75%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include lgBreakPoint
        {
            width: 89%;
        }
        @include xlBreakPoint
        {
            width: 85%;
        }
        .inputsearchsection {
            display: flex;
            width: auto;
            padding: 0px 10px;
            background: #f1f1f1;
            border-radius: 8px;
            align-items: center;
            justify-content: center;
            @include lgBreakPoint {
                width: 40%;
                padding: 4px 10px;
            }
            @include xlBreakPoint {
                width: 40%;
                padding: 4px 10px;
            }
        }
        .womeynlogo {
            width: 100%;
            height: 26px;
            cursor: pointer;
        }

        .notifications {
            width: 22px;
            height: 22px;
            object-fit: contain;
            cursor: pointer;
        }

        .carticons {
            width: 25px;
            height: 25px;
            cursor: pointer;
        }
        .cursorpointor {
            cursor: pointer;
        }
        .arrowflex {
            display: flex;
            width: 100%;
        }
        .profilesplit {
            display: flex;
            align-items: center;
            // justify-content:center;
            gap: 10px;
        }
        .myprofile {
            width: 20px;
            height: 20px;
        }
    }
    .maincartcount
    {
        // border: 2px solid red;
        position:relative;
        width:40px;
        // padding:10px;

        .cartcountbox
        {
            position:absolute;
            top:-6px;
            width:20px;
            height:20px;
            background: #E95A5A;
            border: 2px solid #FFFFFF;
            color:white;
            right:6px;
            display:flex;
            align-items:center;
            justify-content:center;
            border-radius:50%;
            padding:10px;
            cursor:pointer;
        }
    }
}

.middleheadersection {
    // border: 2px solid blue;
    // background: #FFFFFF;
    background: #e5e5e5;
    background-color: white;
    // opacity: 0.8;
    backdrop-filter: blur(30px);
    background: rgb(229, 229, 229, 0.3);
    padding: 15px 0px;
    z-index: 98989898;
    // border-radius: 0px 0px 4px 4px;
    .insidemiddlesections {
        width: 60%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include lgBreakPoint
        {
            width: 70%;
        }
        @include xlBreakPoint
        {
            width: 65%;
        }
    }
    .menuicons {
        width: 17px;
        height: 17px;
        cursor: pointer;
    }
    .emptyboxleftcolor {
        position: absolute;
        width: 20%;
        height: 40% !important;
        background: #e95a5a;
        opacity: 0.2;
        filter: blur(500px);
        right: 0;
        top: -5%;
    }
}

.socailfootersection {
    display: flex;
    padding-top: 4%;
    gap: 20px;

    .footeremptysocialsection {
        background: rgba(203, 203, 203, 0.23);
        padding: 7px 11px;
        border-radius: 7px;
        cursor: pointer;
        .footersocialicons {
            width: 100%;
            height: 20px;
            object-fit: contain;
            @include xsBreakPoint {
                height: auto;
            }
            @include smBreakPoint {
                height: auto;
            }
            @include mdBreakPoint {
                height: auto;
            }
            @include lgBreakPoint {
                height: auto;
            }
            @include xlBreakPoint {
                height: auto;
            }
        }
    }
}
