@use "../../../../../../scss/abstract/" as *;

.signupnewmainsection {
    width: 100%;
    padding-top: 4%;

   
        .insidesignupnewsection {
            width: 75%;
            margin: 0 auto;
            @include xsBreakPoint {
                width: 82%;
            }
            @include smBreakPoint {
                width: 82%;
            }
            @include mdBreakPoint {
                width: 82%;
            }
            @include lgBreakPoint {
                width: 89%;
            }
            @include xlBreakPoint {
                width: 85%;
            }
            .mainsplitsignupnew {
                width: 100%;
                display: flex;
                @include xsBreakPoint {
                    flex-direction: column;
                    gap: 20px;
                }
                @include smBreakPoint {
                    flex-direction: column;
                    gap: 20px;
                }
                @include mdBreakPoint {
                    flex-direction: column;
                    gap: 20px;
                }
                .leftmainsplitsignup {
                    width: 40%;
                    display: flex;
                    flex-direction: column;
                    @include xsBreakPoint {
                        width: 100%;
                    }
                    @include smBreakPoint {
                        width: 100%;
                    }
                    @include mdBreakPoint {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        gap: 30px;
                        padding-bottom: 3%;
                    }
                }
                .rightmainsplitsignup {
                    width: 60%;
                    padding-left: 10%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include xsBreakPoint {
                        width: 100%;
                        padding-left: 0px;
                    }
                    @include smBreakPoint {
                        width: 100%;
                        padding-left: 0px;
                    }
                    @include mdBreakPoint {
                        width: 100%;
                        padding-left: 0px;
                    }

                    .formsectionborder {
                        background: #ffffff;
                        // opacity: 0.2;
                        border: 1px solid #000000;
                        border-radius: 8px;
                        display: flex;
                        padding: 6px 10px;
                        width: 85%;
                        gap: 30px;
                        @include xsBreakPoint {
                            width: 100%;
                            gap: 10px;
                        }
                        @include smBreakPoint {
                            width: 100%;
                            gap: 60px;
                        }
                        .emailsectionform {
                            border: none !important;
                            width: 200px !important;
                            outline: none !important;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 2px solid white !important;
                            @include smBreakPoint {
                                width: 280px !important;
                            }
                            @include mdBreakPoint {
                                width: 280px !important;
                            }
                            @include lgBreakPoint {
                                width: 220px !important;
                            }
                            @include xlBreakPoint {
                                width: 220px !important;
                            }
                        }
                    }
                }
            }
        }
    
}
