@use "../../../../../../scss/abstract/" as *;

.middlelogo {
  width: 100%;
  .inputsearchsection {
    display: flex;
    width: auto;
    padding: 0px 2px;
    background: #ffffff;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #9f9f9f;
    @include lgBreakPoint {
      width: 40%;
      padding: 4px 10px;
    }
    @include xlBreakPoint {
      width: 40%;
      padding: 4px 10px;
    }
  }
}
.middlecontainer {
  width: 100%;
  .middlecontainer2 {
    border: 1px solid #9f9f9f;
    background: #ffffff;
    border-radius: 8px;
    width: 100%;
    margin: 0 auto;
    padding: 5%;
  }
  .subcontainer1 {
    display: flex;
    justify-content: space-between;
    width: 49%;
    margin-top: 2%;
    @include xsBreakPoint {
      flex-direction: column;
      width: 30%;
    }
    @include mdBreakPoint {
      flex-direction: column;
      width: 35%;
    }
    @include smBreakPoint {
      flex-direction: column;
      width: 30%;
    }
    .activeTabText {
      border-bottom: 2px solid #e95a5a;
      margin-bottom: 0px;
      color: #e95a5a;
      padding-bottom: 1%;
    }
    .inActiveTabText {
      margin-bottom: 0px;
      padding-bottom: 1%;
    }
  }
  .hrSub {
    color: black;
    margin-top: 0px;
  }
  .insidecontainer {
    display: flex;
    justify-content: space-between;
    @include xsBreakPoint {
      display: contents;
    }
    @include smBreakPoint {
      display: contents;
    }
    @include mdBreakPoint {
      display: contents;
    }
    .status {
      color: #ff3d00;
      font-size: 13px;
      opacity: 0.8;
      background-color: rgba(255, 61, 0, 0.1);
      width: 80px;
      text-align: center;
      border-radius: 10px;
    }
    .statusDel {
      color: #59af59;
      font-size: 13px;
      opacity: 0.8;
      background-color: rgba(89, 175, 89, 0.1);
      width: 80px;
      text-align: center;
      border-radius: 10px;
    }
    .delivery {
      color: #121212;
      font-size: 16px;
      font-weight: 400;
      opacity: 0.7;
      @include xlBreakPoint {
        font-size: 14px;
      }
      @include lgBreakPoint {
        font-size: 12px;
      }
      @include mdBreakPoint {
        font-size: 14px;
        margin-bottom: 10px;
      }
      @include xsBreakPoint {
        font-size: small;
      }
    }
    .invoicedata {
      @include xsBreakPoint {
        font-size: small;
      }
    }
  }
  .insidecontainer1 {
    display: flex;
    justify-content: space-between;
    @include xsBreakPoint {
      display: contents;
    }
    @include mdBreakPoint {
      flex-direction: column;
    }
    .trackbtndivider {
      display: flex;
      width: 100%;
      .img {
        width: 100px;
        height: 100px;
        border-radius: 20px;
        background: gray;
        @include mdBreakPoint {
          width: 80px;
          height: 80px;
        }
        @include xsBreakPoint {
          width: 150px;
          height: 80px;
        }
      }
      .insidecontainer2 {
        width: 60%;
        margin-left: 4%;
        @include xsBreakPoint {
          margin-top: 2%;
          width: 100%;
        }
        .subHead {
          font-size: 18px;
          font-weight: 600;
          @include mdBreakPoint {
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 8px;
          }
          @include xsBreakPoint {
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 8px;
          }
        }
        .subHeader {
          @include mdBreakPoint {
            font-size: 14px;
          }
          @include xsBreakPoint {
            font-size: 14px;
          }
        }
      }
      .insidecontainer3 {
        width: 20%;
        @include xsBreakPoint {
          margin-left: 5%;
        }
      }
    }

    .buttontrack {
      width: 20%;
      @include xsBreakPoint {
        margin-left: 5%;
      }
      @include mdBreakPoint {
        display: flex;
        width: 100%;
      }
      @include xsBreakPoint {
        display: flex;
        width: 100%;
      }
    }

    .trackbutton {
      border: 1px solid #e95a5a;
      border-radius: 10px;
      color: #e95a5a;
      width: 100px;
      height: 35px;
      background-color: white;
      @include xsBreakPoint {
        width: 80px;
      }
      @include mdBreakPoint {
        width: 80px;
      }
    }
    .cancelbutton {
      border: 1px solid #e95a5a;
      border-radius: 10px;
      color: #e95a5a;
      width: 100px;
      height: 35px;
      background-color: white;
      margin-top: 10%;
      @include xsBreakPoint {
        width: 117px;
      }
      @include mdBreakPoint {
        margin-top: 0%;
        margin-left: 10px;
        width: 80px;
      }
      @include xsBreakPoint {
        margin-top: 0%;
        margin-left: 10px;
        width: 80px;
      }
    }
  }
  .hrcontainer {
    border-style: dotted;
  }
}

.couponsInputContainer {
  display: flex;
  border: 1px solid #9f9f9f;
  border-radius: 10px;
  margin-bottom: 2%;
  .couponsSearch {
    width: 100%;
    padding: 1.5%;
    border: none;
    padding-left: 4%;
    border-radius: 10px;
    outline: none;
  }
  .searchImg {
    width: 20px;
    height: 20px;
    margin-top: 2%;
    margin-right: 10px;
  }
}
