@use "../../../../../scss/abstract/" as *;



.skeltons
{
    width:100%;
    cursor:pointer;
    height:200px;
    @include mdBreakPoint
    {
        width: 100%;
    }
    @include lgBreakPoint
    {
        width: 100%;
    }
}

.arrowsizefix
{
    width: 15px;
    height: 15px;
    object-fit: contain;
}