@use "../../../../scss/abstract/" as *;

.mainloginsection {
    width: 100%;
    .insidesectionlogin {
        width: 100%;
        height: 100%;
        @include xsBreakPoint {
            padding-top: 15%;
        }
        @include smBreakPoint {
            padding-top: 8%;
        }
        @include mdBreakPoint {
            padding-top: 6%;
        }
        @include xlBreakPoint {
            padding-top: 5%;
        }
        .insideloginsplit {
            width: 30%;
            margin: 0 auto;
            background: #ffffff;
            border: 1px solid #9f9f9f;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            padding: 3% 3%;
            @include xsBreakPoint {
                width: 90%;
                height: auto;
                padding-top: 15%;
                padding-bottom: 15%;
            }
            @include smBreakPoint {
                width: 70%;
                height: auto;
                padding-top: 8%;
                padding-bottom: 8%;
            }
            @include mdBreakPoint {
                width: 50%;
                height: auto;
                padding-top: 5%;
                padding-bottom: 5%;
            }
            @include lgBreakPoint {
                width: 45%;
                height: auto;
                padding-top: 5%;
                padding-bottom: 6%;
            }
            @include xlBreakPoint {
                width: 40%;
                height: auto;
                padding-top: 4%;
                padding-bottom: 4%;
            }
            .verifytexts {
                color: #e95a5a;
                font-size: 1.9rem;
                font-weight: 600;
                padding-bottom: 3%;
                @include xsBreakPoint {
                    font-size: 1.6rem;
                }
            }
            .loraemlogin {
                color: #6c6d6e;
                width: 100%;
                text-align: center;
                font-size: 13px;
            }
            .logintext {
                color: #e95a5a;
                font-size: 2rem;
                font-weight: 600;
                padding-bottom: 7%;
            }
            .forms {
                width: 300px !important;
                border: 1px solid #e95a5a;
                // border: none;
                outline: none;
                @include xsBreakPoint {
                    width: 300px !important;
                }
                @include smBreakPoint {
                    width: 320px !important;
                }
                @include lgBreakPoint {
                    width: 340px !important;
                }
                @include xlBreakPoint {
                    width: 340px !important;
                }
            }

            .forgetpassword {
                color: #e95a5a;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                cursor: pointer;
                padding-bottom: 5%;
            }
            .socialloginbutton {
                border: 2px solid red;
                background: #ffffff;
                border: 1px solid #9f9f9f;
                border-radius: 15px;
                display: flex;
                padding: 7px 30px;
                font-weight: 600;
                color: #121212;
                gap: 28%;
                margin-bottom: 6%;
                cursor: pointer;
                .googleiconsectionlogin {
                    width: 100%;
                    object-fit: contain;
                    height: 22px;
                }
            }
        }
    }
}
