@use "../../../../../../../scss/abstract/" as *;

.sliderimage {
    width: 100%;
    height: 330px;
    object-fit: cover;
    border-radius:8px;
    cursor: pointer;

    @include xsBreakPoint {
        height: auto;
    }
    @include smBreakPoint {
        height: auto;
    }
    @include mdBreakPoint {
        height: auto;
    }
    @include lgBreakPoint {
        // height: auto;
    }
}
