@use "../../../../../../scss/abstract/" as *;
.mainsellersection {
    width: 100%;
    padding-top: 3%;
    @include xsBreakPoint {
        padding-top: 0;
    }
    .insidesellerimagesection {
        width: 80%;
        margin: 0 auto;
        @include xsBreakPoint {
            width: 90%;
        }
        @include smBreakPoint {
            width: 90%;
        }
        @include mdBreakPoint {
            width: 85%;
        }
        @include lgBreakPoint {
            width: 90%;
        }
        @include xlBreakPoint {
            width:86%;
        }
        .imageadd {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            object-fit: contain;
            @include xsBreakPoint {
                width: 100%;
                // height: 340px;
                object-fit: contain;
            }
            @include smBreakPoint {
                width: 100%;
                // height: 340px;
                object-fit: contain;
            }
            @include mdBreakPoint {
                width: 100%;
                // height: 340px;
                object-fit: contain;
            }
            @include lgBreakPoint {
                width: 100%;
                // height: 340px;
                object-fit: contain;
            }
            @include xlBreakPoint {
                width: 100%;
                // height: 340px;
                object-fit: contain;
            }
        }
        .buttonsellersection {
            width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            gap: 5%;
            @include xsBreakPoint {
                justify-content: space-between;
                width: 100% !important;
                flex-direction: column;
                gap: 20px !important;
            }
            @include smBreakPoint {
                gap: 10px;
                width: 100% !important;
            }
            @include mdBreakPoint {
                gap: 10px;
                width: 100% !important;
            }
        }
        .borderseller {
            // border: 2px solid red;
            width: 100%;
            padding-top: 3%;
            .insideborderseller {
                width: 100%;
                border-top: 2px dashed grey;
            }
        }
    }
}
