@use "../../../../../../scss/abstract/" as *;

.favortsInputContainer {
  display: flex;
  border: 1px solid #9f9f9f;
  border-radius: 10px;
  margin-bottom: 2%;
  background-color: white;
  .favortsSearch {
    width: 100%;
    padding: 1.5%;
    border: none;
    padding-left: 4%;
    border-radius: 10px;
    outline: none;
  }

  .searchImg {
    width: 20px;
    height: 20px;
    margin-top: 2%;
    margin-right: 10px;
  }
}
.starsections {
  gap: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.stars {
  width: 15px;
  height: 15px;
  object-fit: cover;
}

.favortsContainer {
  width: 100%;
  padding: 2%;
  padding-left: 4%;
  padding-right: 4%;
  border: 1px solid #9f9f9f;
  border-radius: 10px;
  .favortsText {
    font-size: 20px;
    font-weight: 600;
  }
  .favortsInnerContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4%;
    border-bottom: 1px dashed #8a92a6;
    padding-bottom: 2%;
    // mix-blend-mode: normal;
    // opacity: 0.1;
    @include xsBreakPoint
    {
      flex-direction: column;
      padding-bottom:10%;
    }
    @include mdBreakPoint {
      margin-bottom: 7%;
    }
    .favortsLeftContainer {
      display: flex;
      width: 100%;
      cursor: pointer;
      @include xsBreakPoint
      {
        flex-direction: column;
      }

    

      .boximage {
        border: 1px solid #d9d9d9;
        border-radius: 10px;
      }
      .favortsImg {
        width: 130px;
        height: 130px;
        padding: 10px;
        border-radius: 15px;
        background-color: white;
        object-fit: contain;
        cursor: pointer;
        @include xsBreakPoint
        {
          width: 100%;
          height:100%;
        }
       
       
      }
      .favortsImg:hover {
        transform: scale(1.2);
        border: 1px solid #d9d9d9;
      }
      .favortsContentContainer {
        margin-left: 5%;
        @include mdBreakPoint {
          margin-left: 3%;
        }
        .favortsProductName {
          margin-bottom: 8px;
          font-size: 18px;
          font-weight: 600;
          @include mdBreakPoint {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: -2%;
          }
          @include xsBreakPoint {
            font-size: 1.4rem;
            margin-bottom: 3%;
            padding-top:3%;
          }
        }
        .favortsOfferDetail {
          margin-bottom: 8px;
          font-size: 16px;
          font-weight: 400;
          @include mdBreakPoint {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: -2%;
          }
          @include xsBreakPoint {
            font-size: 12px;
            margin-bottom: 2%;
          }
        }
        .favortsRatingContainer {
          display: flex;
          width: 100%;
          align-items: center;

          @include mdBreakPoint {
            width: 100%;
            margin-top: -3%;
          }
          @include xsBreakPoint {
            width: 100%;
          }
          .favortsDot {
            width: 4px;
            height: 4px;
            background-color: black;
            border-radius: 100%;
            margin: auto;
            margin-top: 12px;
          }
          .favortsRatingText {
            margin-bottom: 0px;
            font-size: 14px;
            font-weight: 400;
            color: #59626f;
            margin-top: 3px;
            @include mdBreakPoint {
              font-size: 13px;
              font-weight: 400;
            }
            @include xsBreakPoint {
              font-size: 11px;
              margin-top: 5px;
            }
          }
        }
      }
    }
    .favortsRightContainer {
      display: flex;
      margin-top: 4%;
      cursor: pointer;
      width:30%;
      @include mdBreakPoint {
        margin-top: 6%;
      }
      .favortsDeleteText {
        margin-left: 10px;
        margin-top: -3px;
        color: #e95a5a;
        @include mdBreakPoint {
          font-size: 12px;
          margin-left: 5px;
          margin-top: 0px;
        }
      }
    }
  }
}

.mobilecartresponsive {
  display: flex;
  gap: 40%;
  padding-top: 4%;
  padding-bottom: 3%;
}
.removetexts {
  font-size: 1.3rem;
  font-weight: 600;
}
.removeitemname {
  padding: 5% 0px;
  text-align: center;
  font-size: 1.4rem;

  color: #0d0c22;

  font-weight: 500;

  opacity: 0.4;
}
.modelremove {
  width: 100%;

  .insidemodelpopup {
    // border:3px solid red;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
  }
  .buttonsections {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 6%;
    padding-bottom: 5%;
    .buttonscancel {
      outline: none;
      cursor: pointer;
      background-color: white;
      color: rgba(233, 90, 90, 1);
      border: 1px solid rgba(233, 90, 90, 1);
      padding: 7px 30px;
      border-radius: 10px;
      font-weight: 600;
    }
    .buttonsremove {
      outline: none;
      cursor: pointer;
      background-color: rgba(233, 90, 90, 1);
      color: white;
      border: none;
      padding: 7px 30px;
      border-radius: 10px;
      font-weight: 600;
    }
  }
}

.removeitems {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.favortsProductprice {
  color: #0d0c22;

  mix-blend-mode: normal;
  opacity: 0.4;
  font-weight: 500;
}

.trackingbuttons {
  width: 100%;
  outline: none;
  padding: 9px 40px;
  border-radius: 10px;
  color: #e95a5a;
  border: 1px solid #e95a5a;
  background-color: white;
  @include xsBreakPoint
  {
    width:100%;
    padding:7px 50px;
  }
}
