@use "../../../../../../../scss/abstract/" as *;

.maindetailpage {
    width: 100%;
    // height: 100%;
    .arrowsizefix
    {
        width: 15px;
        height: 15px;
        object-fit: contain;
    }
    .insidedetailpage {
        width: 75%;
        margin: 0 auto;
        padding-top: 2%;
        @include xsBreakPoint {
            width: 85%;
            padding-top: 7%;
        }
        @include smBreakPoint {
            width: 85%;
            padding-top: 6%;
        }
        @include mdBreakPoint {
            width: 85%;
        }
        @include lgBreakPoint {
            width: 89%;
        }
        @include xlBreakPoint {
            width: 85%;
        }
        @include xxlBreakPoint {
            width: 77%;
        }
        .splitsectiondetails {
            width: 100%;
            display: flex;
            @include xsBreakPoint {
                flex-direction: column;
            }
            @include lgBreakPoint
{
    gap:30px;
}
            .leftdetailpage {
                width: 50%;
                height:100%;
                @include xsBreakPoint {
                    width: 100%;
                }
                .splitleftdetails {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    .detailimage {
                        width: 100%;
                        height: 100px;
                        object-fit: cover;
                    }
                }
                
            
                .insidesplitwomeyn
                {
                    // border:3px solid green;
                    width:100%;
display:flex;
@include lgBreakPoint
{
    gap:20px;
}
@include xlBreakPoint
{
    gap:20px;
}
                   .imagewomenleft
                   {
                    width:50%;
                    // border:3px solid red;
                    margin:0 auto;
                    display:flex;
                    align-items:center;
                    justify-content:center;
                  
                    .womenlogo {
                        width: 250px;
                        height: 250px;
                        // object-fit: contain;
                        border-radius:50%;
                        @include lgBreakPoint
                        {
                            width:210px;
                            height:210px;
                        }
                        @include xlBreakPoint
                        {
                            width:230px;
                            height:230px;
                        }
                    }
                   }
                   .imagewomenright
                   {
                    width:50%;
                    // border:3px solid blue;
                    display:flex;
                    // align-items:center;
                    padding-left:3%;
                  
                    flex-direction:column;

                      @include lgBreakPoint
                    {
                   
                    padding-left:0%;

                    }
                    @include xlBreakPoint
                    {
                        width:100%;
                    padding-left:0%;

                    }

                    .idsellers
                {
            // word-break: break-all;
            // border:3px solid blue;

font-size:1.3rem;
                }
                  
                  
                   }

                }
            }
            .rightdetailpage {
                width: 50%;
                // border:2px solid red;
                height:100%;

                @include xsBreakPoint {
                    width: 100%;
            }

           
                .earthtext {
                    width: 90%;
                    line-height: 1.8;
            word-break: break-all;

            @include lgBreakPoint
            {
                width:100%;
            word-break: break-all;

            }

            

                    
                }

                

               
            }

            
        }

        .wehave
        {
            // border:3px solid red;
            padding:5% 0px;
            font-size:1.8rem;
            font-weight:610;
            
        }
        .middleheaderpage {
            padding-top: 3%;
            .insidemiddleheader {
                background: #ffffff;
                opacity: 0.8;
                border: 1px solid #e0e0e0;
                backdrop-filter: blur(30px);
                border-radius: 3px;
                padding: 12px 40px;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                display: flex;
                gap: 50px;
                @include xsBreakPoint {
                    flex-direction: column;
                }
                @include smBreakPoint {
                    gap: 20px;
                }
            }
            .detailpage {
                cursor: pointer;
            }
            .actives {
                color: #e75b5e !important;
                font-weight: 700;
                padding-bottom: 0.389rem;
                border-bottom: 3px solid #e75b5e;
                cursor: pointer;
                @include xsBreakPoint {
                    width: 50%;
                }
                @include smBreakPoint {
                    width: 28%;
                }
            }
        }
        .contentsetiondetails {
            padding-top: 2.5%;
        }
    }
}
