@use "../../../../../../../scss/abstract/" as *;

.maindetailpage {
    width: 100%;
    // height: 100%;
    .arrowsizefix {
        width: 15px;
        height: 15px;
        object-fit: contain;
    }
    .insidedetailpage {
        width: 100%;
        margin: 0 auto;
        

    
       

        .sliderimage
        {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius:10px;
        }
        .splitsectiondetails {
            width: 100%;
            display: flex;
            padding-top:4%;
            gap:40px;
            @include xsBreakPoint {
                flex-direction: column;
            }
            @include smBreakPoint {
                flex-direction: column;
            }
            @include mdBreakPoint {
                flex-direction: column;
            }
            @include lgBreakPoint {
                gap: 30px;
            }
            .leftdetailpage {
                width: 20%;
                height: 100%;
                // border:2px solid red;    
                @include xsBreakPoint {
                    width: 100%;
                }
                @include smBreakPoint {
                    width: 100%;
                }
                @include mdBreakPoint {
                    width: 100%;
                }
               

                
                  
                  

                        .womenlogo {
                            width: 100%;
                            height: 100%;
                            border-radius: 7px;
                            object-fit:contain;
                            // border: 3px solid #e75b5e;
                            @include smBreakPoint {
                                width: 100%;
                                height: 500px;
                                border-radius:10px !important;
                            }
                            @include mdBreakPoint {
                                width: 100%;
                                height: 500px;
                                border-radius:10px !important;
                            }
                            @include lgBreakPoint {
                                width: 100%;
                                height: 100%;
                            }
                            @include xlBreakPoint {
                                width: 100%;
                                height: 100%;
                            }
                        }
            }
            .rightdetailpage {
                width: 80%;
                // border:2px solid red;
                height: 100%;

                @include xsBreakPoint {
                    width: 100%;
                }
                
                @include smBreakPoint {
                    width: 100%;
                }
                @include mdBreakPoint {
                    width: 100%;
                }

                .earthtext {
                    width: 100%;
                    line-height: 1.8;
                    word-break: break-all;

                    @include lgBreakPoint {
                        width: 100%;
                        word-break: break-all;
                    }
                }
            }
        }

        .wehave {
            // border:3px solid red;
            padding: 5% 0px;
            font-size: 1.8rem;
            font-weight: 610;
        }
        .middleheaderpage {
            padding-top: 3%;
            .insidemiddleheader {
                background: #ffffff;
                opacity: 0.8;
                border: 1px solid #e0e0e0;
                backdrop-filter: blur(30px);
                border-radius: 3px;
                padding: 12px 40px;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

                display: flex;
                gap: 50px;
                border-radius: 10px;
                @include xsBreakPoint {
                    flex-direction: column;
                }
                @include smBreakPoint {
                    gap: 20px;
                }
            }
            .detailpage {
                cursor: pointer;
            }
            .actives {
                color: #e75b5e !important;
                font-weight: 700;
                padding-bottom: 0.389rem;
                border-bottom: 3px solid #e75b5e;
                cursor: pointer;
                @include xsBreakPoint {
                    width: 50%;
                }
                @include smBreakPoint {
                    width: 28%;
                }
            }
        }
        .contentsetiondetails {
            padding-top: 2.5%;
        }
    }
}

.readmore {
    color: #e95a5a !important;
    cursor: pointer;
    font-size: 1.2rem;
    padding-left:2%;

}

.lessmore {
    color: #e95a5a !important;
    cursor: pointer;
    font-size: 1.2rem;

    padding-left:3%;
}
