@use "../../../../scss/abstract/" as *;

.homesectionmain {
  width: 100%;
  position: relative;
  z-index: 9 !important;

  .insidesectionhome {
    width: 75%;
    margin: 0 auto;
    // position: relative;
    z-index: 9 !important;

    @include xsBreakPoint {
      width: 85%;
      padding-top: 6%;
    }
    @include smBreakPoint {
      width: 85%;
      padding-top: 6%;
    }
    @include mdBreakPoint {
      width: 85%;
    }
    @include lgBreakPoint {
      width: 89%;
    }
    @include xlBreakPoint {
      width: 85%;
    }
    .imagesectionhome {
      width: 100%;
      // position: relative;
      .sliderimage {
        width: 100%;
        height: 330px;
        object-fit: cover;
        border-radius: 8px;
        cursor: pointer;
        @include xsBreakPoint {
          height: auto;
          width: 100%;
          object-fit: cover;
          border-radius: 10px !important;
        }
        @include smBreakPoint {
          height: auto;
        }
        @include mdBreakPoint {
          height: auto;
        }
        @include lgBreakPoint {
          height: auto;
        }
      }
    }
    .addimagetagss {
      display: flex;
      gap: 20px;
      padding-top: 2%;
      z-index: 9 !important;

      padding-bottom: 2%;
      .addimagessectionleft {
        width: 50%;
        @include xsBreakPoint {
          width: 100%;
        }
        @include smBreakPoint {
          width: 100%;
        }
        @include mdBreakPoint {
          width: 100%;
        }
        @include lgBreakPoint {
          width: 100%;
        }
        @include xlBreakPoint {
          width: 100%;
        }
      }
      .addimagessectionright {
        width: 50%;
        @include xsBreakPoint {
          width: 100%;
        }
        @include smBreakPoint {
          width: 100%;
        }
        @include mdBreakPoint {
          width: 100%;
        }
        @include lgBreakPoint {
          width: 100%;
        }
        @include xlBreakPoint {
          width: 100%;
        }
      }
      @include xsBreakPoint {
        flex-direction: column;
      }
      @include smBreakPoint {
        flex-direction: column;
        gap: 20px;
      }
      .add1 {
        width: 100%;
        height: 100%;
        object-fit: contain;
        cursor: pointer;
        border-radius: 10px;
        @include xsBreakPoint {
          width: 100% !important;
        }
        @include xsBreakPoint {
          width: 100% !important;
        }
        @include smBreakPoint {
          width: 100% !important;
        }
        @include mdBreakPoint {
          width: 100% !important;
        }
        @include lgBreakPoint {
          width: 100% !important;
        }
        @include xlBreakPoint {
          width: 100% !important;
        }
      }
    }
  }
}
.skeltonbox {
  width: 100% !important;
  height: 300px !important;
  background: #f1f1f1;
}
.addimageboxs {
  width: 100% !important;
  height: 200px !important;
  object-fit: contain !important;
  background: #f1f1f1;
}
.homebanner {
  width: 100% !important;
  height: 200px !important;
  background: #f1f1f1;
  border-radius: 20px;
}

.emptyboxrightcolor {
  // background-color: orange;
  position: absolute;
  width: 12%;
  height: 100% !important;
  background: #fecf9d;
  opacity: 0.4;
  filter: blur(100px);
  left: 0;
  top:1%;
  z-index: 0;
}
.emptyboxleftcolor {
  position: absolute;
  width: 10%;
  height: 100% !important;

  background: #e95a5a;
  opacity: 0.4;
  filter: blur(100px);
  right: 5%;
  top: -5%;
  z-index: 0;
}
