@use "../../../../scss/abstract/" as *;

.homesectionmain {
    width: 100%;
    // position:relative;
    .emptyboxrightcolor {
        background-color: orange;
        position: absolute;
        width: 20%;
        height: 40% !important;
        background: #fecf9d;
        opacity: 0.36;
        filter: blur(239.825px);
        left: 0;
    }
    .emptyboxleftcolor {
        position: absolute;
        width: 20%;
        height: 40% !important;
        background: #e95a5a;
        opacity: 0.2;
        filter: blur(500px);
        right: 0;
        top: -5%;
    }
    .insidesectionhome {
        width: 75%;
        margin: 0 auto;
        // position: relative;
        @include xsBreakPoint {
            width: 85%;
            padding-top: 6%;
        }
        @include smBreakPoint {
            width: 85%;
            padding-top: 6%;
        }
        @include mdBreakPoint {
            width: 85%;
        }
        @include lgBreakPoint {
            width: 89%;
        }
        @include xlBreakPoint {
            width: 85%;
        }
        .imagesectionhome {
            width: 100%;
            // position: relative;
            .sliderimage {
                width: 100%;
                height: 330px;
                object-fit: cover;
                border-radius:8px;
                cursor: pointer;

                @include xsBreakPoint {
                    height: auto;
                }
                @include smBreakPoint {
                    height: auto;
                }
                @include mdBreakPoint {
                    height: auto;
                }
                @include lgBreakPoint {
                    // height: auto;
                }
            }
        }
        .addimagetagss {
            display: flex;
            gap: 20px;
            padding-top: 2%;
            padding-bottom: 2%;
            @include xsBreakPoint {
                display: none;
            }
            @include smBreakPoint {
                flex-direction: column;
                gap: 20px;
            }
            .add1 {
                width: 100%;
                height: 100%;
                // border:2px solid blue;
                object-fit: cover;
                cursor: pointer;
            }
        }
    }
}
