@use "../../../../../../../scss/abstract/" as *;

.summarymainsection {
    width: 100%;
    backdrop-filter: blur(66px);
    padding-top: 3%;
    padding-bottom: 3%;
    height: auto;
    .loadingsection
    {
        width:100%;
        height:120px;
        border-radius:10px;
    }
    .insidesummarysection {
        width: 100%;
        margin: 0 auto;
        @include xsBreakPoint {
            width: 90%;
        }
        @include smBreakPoint {
            width: 92%;
        }
        @include mdBreakPoint {
            width: 100%;
        }
        @include lgBreakPoint {
            width: 97%;
        }
        @include xlBreakPoint {
            width: 95%;
        }
        .insideslidess {
            display: flex !important;
            flex-direction: row !important;
            padding-left: 25%;
            gap: 10px !important ;
            align-items: center !important;
            padding-top: 5%;
            @include smBreakPoint {
                padding-left: 18%;
            }
            .slidesummaryimages1 {
                width: 40px;
                height: 40px;
                object-fit: contain;
            }
            .slidesummaryimages2 {
                width: 100px;
                height: 50px;
                object-fit: contain;
            }
        }
    }
}

.sliderimage {
    cursor: pointer;
    width: 96%;
    margin: 0 auto;
    border-radius:8px;

    @include xsBreakPoint
    {
        width: 100%;
        height:90px;
        // object-fit:contain;
    }
    @include smBreakPoint
    {
        width: 100%;
        height:120px;
        // object-fit:contain;
    }
    @include mdBreakPoint
    {
        width: 100%;
        height:120px;
        // object-fit:contain;
    }
}
