@use "../../../../../scss/abstract/" as *;

.mainboutus {
    width: 100%;
    position: relative;
    .exptyboxleft {
        background: #e95a5a;
        opacity: 0.3;
        filter: blur(329px);
        position: absolute;
        width: 50%;
        height: 15%;
        right: 0;
    }
    .exptyboxright {
        background: #fecf9d;
        opacity: 0.3;
        filter: blur(329px);
        position: absolute;
        width: 28%;
        height: 20%;
        left: 0;
        top: 22%;
    }
    .exptyboxleftblue {
        background: #415b91;
        opacity: 0.2;
        filter: blur(329px);
        width: 20%;
        height: 25%;
        right: 0;
        top: 40%;
        position: absolute;
    }
    .mainaboutsection {
        width: 75%;
        margin: 0 auto;
        // border:2px solid red;
        @include xsBreakPoint {
            width: 85%;
            padding-top: 6%;
        }
        @include smBreakPoint {
            width: 85%;
            padding-top: 6%;
        }
        @include mdBreakPoint {
            width: 85%;
        }
        @include lgBreakPoint {
            width: 89%;
        }
        @include xlBreakPoint {
            width: 85%;
        }
        .mainimageabout {
            width: 100%;
            height: 640px;
            @include xsBreakPoint {
                height: 220px;
            }
            @include smBreakPoint {
                height: 320px;
            }
            @include mdBreakPoint {
                height: 420px;
            }
            @include lgBreakPoint {
                height: 500px;
            }
            @include xlBreakPoint {
                height: 570px;
            }
            .bannersectionabout {
                width: 100%;
                height: 450px;
                // border: 5px solid blue;
                // background-image: url("../../../../assests/womeynlogos/Mask group.png");
                background-size: 100%;
                background-repeat: no-repeat;
                position: relative;
                @include xsBreakPoint {
                    height: auto;
                    border-radius: 3px !important;
                }
                @include smBreakPoint {
                    height: auto;
                    border-radius: 3px !important;
                }
                @include lgBreakPoint {
                    height: 480px;
                }
                @include xlBreakPoint {
                    height: 500px;
                }
                .bannerimageabout {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    border-radius: 10px;
                    @include xsBreakPoint {
                        border-radius: 5px;
                    }
                    @include smBreakPoint {
                        border-radius: 10px;
                    }
                }
                .bannercontentsectionimage {
                    width: 70%;
                    margin: 0 auto;

                    @include xsBreakPoint {
                        width: 80%;
                    }
                    @include smBreakPoint {
                        width: 80%;
                    }
                    @include mdBreakPoint {
                        width: 80%;
                    }
                    @include lgBreakPoint {
                        width: 80%;
                    }
                    .bannerinsidesection {
                        position: absolute;
                        top: 80%;
                        width: 70%;
                        margin: 0 auto;
                        display: flex;

                        @include xsBreakPoint {
                            // bottom: 30%;
                            width: 90%;
                            // bottom:0;
                            left: 5%;
                            border-radius: 5px;
                        }
                        @include smBreakPoint {
                            // bottom: 30%;
                            width: 80%;
                            // top: 35%;
                        }
                        @include mdBreakPoint {
                            // bottom: 30%;
                            width: 80%;
                            top: 50%;
                        }
                        @include lgBreakPoint {
                            width: 80%;
                            top: 65%;
                        }
                        @include xlBreakPoint {
                            top: 75%;
                        }
                        .ceotext {
                            font-size: 1.2rem;
                            @include xsBreakPoint {
                                font-size: 0.564rem;
                                padding-top: 2%;
                            }
                            @include smBreakPoint {
                                font-size: 0.864rem;
                                padding-top: 2%;
                            }
                            @include mdBreakPoint {
                                font-size: 1rem;
                                padding-top: 2%;
                            }
                        }
                        .isidelogoproduct {
                            // border: 3px solid green;
                            width: 100%;
                            margin: 0 auto;
                            padding: 1.45% 4%;
                            background-color: #fff8f1;
                            border-radius: 10px;

                            @include smBreakPoint {
                                border-radius: 10px;
                            }

                            .we {
                                width: 80%;
                                font-size: 1.3rem;
                                font-weight: 600;
                                text-align: center;
                                margin: 0 auto;
                                @include xsBreakPoint {
                                    font-size: 0.468rem;
                                    width: 80%;
                                }
                                @include smBreakPoint {
                                    font-size: 0.89rem;
                                    width: 80%;
                                }
                                @include mdBreakPoint {
                                    font-size: 0.89rem;
                                    width: 80%;
                                }
                                @include lgBreakPoint {
                                    font-size: 1rem;
                                }
                                @include xlBreakPoint {
                                    font-size: 1rem;
                                }
                            }
                            .qua1 {
                                width: 30px;
                                height: 30px;
                                object-fit: contain;
                                @include xsBreakPoint {
                                    width: 14px;
                                    height: 14px;
                                }
                                @include smBreakPoint {
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                            .qua2 {
                                width: 30px;
                                height: 30px;
                                object-fit: contain;
                                float: right;
                                @include xsBreakPoint {
                                    width: 14px;
                                    height: 14px;
                                }
                                @include smBreakPoint {
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .anecommercetext {
            font-size: 1.7rem;
            font-weight: 600;
            text-align: center;
            // border: 2px solid red;
            @include xsBreakPoint {
                font-size: 1rem;
                width: 90%;
                margin: 0 auto;
                line-height: 1.7;
            }
            @include mdBreakPoint {
                font-size: 1.5rem;
                width: 80%;
                margin: 0 auto;
                line-height: 1.7;
            }
        }
        .womeynpurpose {
            width: 70%;
            margin: 0 auto;
            color: #898989;
            text-align: center;
            line-height: 1.8;
            padding-top: 1%;
            @include xsBreakPoint {
                font-size: 0.879rem;
                width: 100%;
                margin: 0 auto;
                // line-height:1.7;
            }
            @include smBreakPoint {
                font-size: 0.978rem;
                width: 100%;
                margin: 0 auto;
                line-height: 2;
            }
            @include mdBreakPoint {
                font-size: 0.978rem;
                width: 100%;
                margin: 0 auto;
                line-height: 2;
            }
        }
        .througth {
            width: 60%;
            margin: 0 auto;
            color: #898989;
            text-align: center;
            line-height: 2;
            padding-top: 2%;
            @include xsBreakPoint {
                font-size: 0.879rem;
                width: 100%;
                margin: 0 auto;
                line-height: 1.7;
            }
            @include smBreakPoint {
                font-size: 0.978rem;
                width: 100%;
                margin: 0 auto;
                line-height: 2;
            }
            @include mdBreakPoint {
                font-size: 0.978rem;
                width: 100%;
                margin: 0 auto;
                line-height: 2;
            }
        }
        .ourcontentsection {
            padding-top: 5%;
            .anecommercetexts {
                font-size: 1.7rem;
                font-weight: 600;
                text-align: center;
                @include xsBreakPoint {
                    font-size: 1rem;
                }
            }
            .alltexts {
                width: 33%;
                color: #898989;
                text-align: center;
                line-height: 1.6;
                padding-top: 0.789%;
                margin: 0 auto;
                @include xsBreakPoint {
                    font-size: 0.878rem;
                    width: 100%;
                    margin: 0 auto;
                    line-height: 1.7;
                }
                @include smBreakPoint {
                    font-size: 0.988rem;
                    width: 100%;
                    margin: 0 auto;
                    line-height: 1.7;
                }
                @include mdBreakPoint {
                    font-size: 0.978rem;
                    width: 60%;
                    margin: 0 auto;
                    line-height: 2;
                }
            }
        }
        .whatmakeimage {
            width: 190px;
            height: 190px;
            object-fit: contain;
        }
    }
}

.aboutuskalai {
    height: 100vh;
}

.creationabout {
    width: 100%;
    margin: 0 auto;
    // text-align: center;
    /* Black/Black Grey 2 */
    color: #898989;
    padding-top: 3%;
    line-height: 1.6;
    padding-bottom: 5%;
    font-size: 1.3rem;
    // border:2px solid red;

    @include xsBreakPoint {
        width: 100%;
        font-size: 1rem;
    }
    @include smBreakPoint {
        width: 100%;
        font-size: 1.1rem;
    }
    @include mdBreakPoint {
        width: 100%;
        font-size: 1.3rem;
    }
    @include lgBreakPoint {
        width: 100%;
        line-height: 1.7;
        font-size: 1.1rem;
    }
    @include xlBreakPoint {
        width: 100%;
        line-height: 1.8;
    }
}

.creationabouts {
    width: 100%;
    font-size: 1.2rem;
    margin: 0 auto;
    // text-align: center;
    /* Black/Black Grey 2 */
    color: #898989;
    padding-top: 3%;
    line-height: 1.6;
    padding-bottom: 5%;
    @include xsBreakPoint {
        width: 100%;
        font-size: 1rem;
    }
    @include smBreakPoint {
        width: 100%;
        font-size: 1.1rem;
    }
    @include mdBreakPoint {
        width: 100%;
        font-size: 1.3rem;
    }
    @include lgBreakPoint {
        width: 100%;
        line-height: 1.7;
    }
    @include xlBreakPoint {
        width: 100%;
        line-height: 1.8;
    }
}

.standsections {
    padding-top: 5%;
    padding-bottom: 2%;
    .abs {
        width: 23px;
        object-fit: contain;
        height: 23px;
    }

    .stands {
        width: 76%;
        margin: 0 auto;
        color: #898989;
        text-align: center;
        line-height: 1.8;
        padding-top: 2%;
        font-size: 1.3rem;
        @include xsBreakPoint {
            width: 100%;
            padding-top: 10%;
            font-size: 1rem;
        }
        @include smBreakPoint {
            width: 100%;
            padding-top: 10%;
            font-size: 1.1rem;
        }
        @include mdBreakPoint {
            width: 100%;
            padding-top: 4%;
            font-size: 1.3rem;
        }
    }
}

.abss {
    width: 150px;
    // height:140px;
    object-fit: contain;
}

.boxfirsts {
    border: 2px solid red;
    width: 50px;
    border-radius: 10px;
    text-align: center;
    position: fixed;
    right: 0;
    // float:right;
    flex-direction: column;
    gap: 20px;
}

.homebox {
    width: 40px;
    height: 40px;
    border: 2px solid red;
    margin: 10% 0px;
}
