@use "../../../../../scss/abstract/" as *;

.imagesectionhome
{
    z-index:989898 !important;
}
.sliderimage {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    cursor: pointer;

    @include xsBreakPoint {
        height: auto;
        width: 100%;
    }
    @include smBreakPoint {
        height: auto;
        width: 100%;
    }
    @include mdBreakPoint {
        height: auto;
        width: 100%;
    }
    @include lgBreakPoint {
        height: 300px;
        width: 100%;
    }
    @include xlBreakPoint {
        height: 250px;
        width: 100%;
    }
}
.womenbanners {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}
