@use "../../../../../scss/abstract/" as *;

.sliderimage {
    width: 100%;
    height: 330px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;

    @include xsBreakPoint {
        height: auto;
        width: 100%;
    }
    @include smBreakPoint {
        height: auto;
        width: 100%;
    }
    @include mdBreakPoint {
        height: auto;
        width: 100%;
    }
    @include lgBreakPoint {
        height: auto;
        width: 100%;
    }
    @include xlBreakPoint {
        height: auto;
        width: 100%;
    }
}
.womenbanners {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}
