@use "../../../../../../../../scss/abstract/" as *;

.allordermainsection {
  width: 100%;
  .insidemainordersection {
    width: 100%;
    background-color: white;
    padding-bottom: 3%;
    .insideordersectionlist {
      width: 100%;
      padding-bottom: 3%;
      padding-top: 2%;
      border-bottom: 1px dashed #c4c4c4;
      cursor: pointer;
      .orderstatussection {
        display: flex;
        gap: 40px;
        .confirmorder {
          padding: 3px 10px;
          font-weight: 600;
          background-color: rgba(89, 175, 89, 0.1);
          outline: none;
          border: none;
          border-radius: 10px;
          font-size: 0.789rem;
          color: #59af59;
        }
        .confirmordercanceld {
          background-color: #f9acac;
          padding: 3px 10px;
          font-weight: 600;
          outline: none;
          border: none;
          border-radius: 10px;
          font-size: 0.789rem;
          color: white;
        }
        .confirmordersuccess {
          padding: 3px 10px;
          font-weight: 600;
          background-color: rgba(89, 175, 89, 0.1);
          outline: none;
          border: none;
          border-radius: 10px;
          font-size: 0.789rem;
          color: #59af59;
        }
        .confirmorderprogress {
          padding: 3px 10px;
          font-weight: 600;
          background: rgba(255, 61, 0, 0.1);
          outline: none;
          border: none;
          border-radius: 10px;
          font-size: 0.789rem;
          color: #ff3d00;
        }
      }
    }
  }
  .ordermapsectionlist {
    // border: 2px solid red;
    margin-top: 3%;
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 2% 0px;
    .firstimagesection {
      width: 60%;
      display: flex;
      gap: 20px;
      flex-direction: column;
      .firstsectioninside {
        display: flex;
        gap: 10px;
      }
    }
    .secondimagesection {
      width: 20%;
      font-weight: 600;
      font-size: 1.2rem;
    }
    .thirdimagesection {
      width: 20%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .trackingbutton {
        width: 100%;
        outline: none;
        padding: 6px 30px;
        border-radius: 10px;
        color: #e95a5a;
        border: 1px solid #e95a5a;
        background-color: white;
      }
    }
  }
}

.ordermapsectionlists {
  width: 100%;
  display: flex;
  .firstimagesections {
    width: 100%;
    
    .firstsectioninsidess {
      display: flex;
      gap: 20px;
      padding: 3% 0px;
      @include xsBreakPoint
      {
        flex-direction:column;
      }
      .confirmordercanceld {
        background-color: #f9acac;
        padding: 3px 10px;
        font-weight: 600;
        outline: none;
        border: none;
        border-radius: 10px;
        font-size: 0.789rem;
        color: white;
      }

      .leftorderdelivery {
        width: 60%;
        display: flex;
        gap: 20px;
        @include xsBreakPoint
        {
          flex-direction:column;
          width:100%;
        }
        @include smBreakPoint
        {
          flex-direction:column;
          width:100%;
        }
      }
      .secondimagesections {
        width: 20%;
        font-weight: 600;
        font-size: 1.2rem;
        @include xsBreakPoint
        {
          width:100%;
        }
        @include smBreakPoint
        {
          width:100%;
        }
      }
      .rightimagesections
      {
        width:20%;
        @include xsBreakPoint
        {
          width:100%;
        }
        @include smBreakPoint
        {
          width:100%;
        }
      }
    }
  }
}

.img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background: #f1f1f1;
  cursor: pointer;
  @include mdBreakPoint {
    width: 80px;
    height: 80px;
  }
  @include xsBreakPoint {
    width: 100%;
    height: auto;
    object-fit:contain;
  }
}

.mobilecartresponsive {
  display: flex;
  gap: 40%;
  padding-top: 4%;
  padding-bottom: 3%;
}
.removetexts {
  font-size: 1.3rem;
  font-weight: 600;
}
.removeitemname {
  padding: 2% 0px;
  text-align: center;
  font-size: 1.4rem;

  color: #0d0c22;

  font-weight: 500;

  opacity: 0.4;
}
.modelremove {
  width: 100%;

  .insidemodelpopup {
    // border:3px solid red;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
  }
  .buttonsections {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 4%;
    padding-bottom: 5%;
    .buttonscancel {
      outline: none;
      cursor: pointer;
      background-color: white;
      color: rgba(233, 90, 90, 1);
      border: 1px solid rgba(233, 90, 90, 1);
      padding: 8px 30px;
      border-radius: 10px;
      font-weight: 600;
    }
    .buttonsremove {
      outline: none;
      cursor: pointer;
      background-color: rgba(233, 90, 90, 1);
      color: white;
      border: none;
      padding: 8px 30px;
      border-radius: 10px;
      font-weight: 600;
    }
  }
}

.trackingbuttons {
  width: 100%;
  outline: none;
  padding: 9px 40px;
  border-radius: 10px;
  color: #e95a5a;
  border: 1px solid #e95a5a;
  background-color: white;
}



.orderstatussection {
  display: flex;
  gap: 40px;
  .confirmorder {
    padding: 3px 10px;
    font-weight: 600;
    background-color: rgba(89, 175, 89, 0.1);
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 0.789rem;
    color: #59af59;
  }
  .confirmordercanceld {
    background-color: #f9acac;
    padding: 3px 10px;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 0.789rem;
    color: white;
  }
  .confirmordersuccess {
    padding: 3px 10px;
    font-weight: 600;
    background-color: rgba(89, 175, 89, 0.1);
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 0.789rem;
    color: #59af59;
  }
  .confirmorderprogress {
    padding: 3px 10px;
    font-weight: 600;
    background: rgba(255, 61, 0, 0.1);
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 0.789rem;
    color: #ff3d00;
  }
}

