@use '../../../../scss/abstract/' as *;

.mainservices
{
    // border: 2px solid blue;
    position:relative;
    z-index:9;
}


.emptyboxrightcolor {
    // background-color: orange;
    position: absolute;
    width: 12%;
    height: 100% !important;
    background: #fecf9d;
    opacity: 0.4;
    filter: blur(100px);
    left: 0;
    top:1%;
    z-index: 0;
  }
  .emptyboxleftcolor {
    position: absolute;
    width: 10%;
    height: 100% !important;
  
    background: #e95a5a;
    opacity: 0.4;
    filter: blur(100px);
    right: 5%;
    top: -5%;
    z-index: 0;
  }