@use '../../../../scss/abstract/' as *;

.mainservices
{
    // border: 2px solid blue;
    position:relative;
    z-index:9;
}

.leftbgcolorservice
{
    background: #FECF9D;
opacity: 0.3;
filter: blur(239.825px);
position:absolute;
z-index:0;
width:30%;
height:80%;
top:0;
left:0;
}