@use "../../../../../../scss/abstract/" as *;

.eventupdatemainsection {
    width: 100%;
    position: relative;
    @include xsBreakPoint {
        padding-bottom: 5%;
        padding-top: 6%;
    }
    .emptyboxcolorsection {
        position: absolute;
        background: #ffe7cd;
        height: 100%;
        width: 11%;
        opacity: 0.6;
        filter: blur(347px);
        border-radius: 50%;
        right: 10px;
        z-index: 0;
    }
    .insideventupdatesection {
        width: 75%;
        margin: 0 auto;
        z-index: 90;
        
        @include xsBreakPoint {
            width: 82%;
        }
        @include smBreakPoint {
            width: 82%;
        }
        @include mdBreakPoint {
            width: 82%;
        }
        @include lgBreakPoint {
            width: 89%;
        }
        @include xlBreakPoint {
            width: 85%;
        }
        .bordertopsectionevents {
            padding-top: 5%;
            padding-bottom: 4.45%;
        }
        .eventfruitsection {
            display: flex;
            gap: 30px;
            @include xsBreakPoint {
                flex-direction: column;
            }
            @include smBreakPoint {
                flex-direction: column;
            }
            @include mdBreakPoint {
                flex-direction: column;
            }
            .lefteventfruit {
                width: 50%;
                padding-top: 3%;
                @include xsBreakPoint {
                    width: 100%;
                }
                @include smBreakPoint {
                    width: 100%;
                }
                @include mdBreakPoint {
                    width: 100%;
                }
                @include lgBreakPoint {
                    width: 100%;
                }
                @include xlBreakPoint {
                    width: 100%;
                }

                .workshopimage {
                    .shopingimage {
                        width: 100%;
                        height: 190px;
                        border-radius: 5px;
                        @include xsBreakPoint {
                            width: 100%;
                            height: auto;
                        }
                        @include smBreakPoint {
                            width: 100%;
                            height: auto;
                        }
                        @include mdBreakPoint {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
                .fruitcontent {
                    display: flex;
                    // border: 2px solid red;
                    margin-top: 4%;
                    border-radius: 10px;
                    background: #ffffff;
                    box-shadow: 10.8299px 12.9959px 101.801px rgba(0, 0, 0, 0.08);
                    border-radius: 5.94495px;
                    height: 120px;
                    @include xsBreakPoint {
                        flex-direction: column;
                        height: auto;
                    }
                    @include smBreakPoint {
                        // height: auto;
                    }
                    @include mdBreakPoint {
                        height: auto;
                    }

                    .contentimage {
                        width: 25%;
                        // border: 2px solid green;
                        @include xsBreakPoint {
                            width: 100%;
                        }
                        .shopingimagecontent {
                            width: 100%;
                            height: 100%;
                            border-radius: 10px;
                            cursor: pointer;
                            @include xsBreakPoint {
                                width: 100%;
                                height: auto;
                            }
                            @include smBreakPoint {
                                width: 100%;
                                height: auto;
                            }
                            @include mdBreakPoint {
                                width: 100%;
                                height: auto;
                            }
                        }
                    }
                    .contentfruit {
                        width: 75%;
                        // border: 4px solid orange;
                        padding: 23px;
                        @include xsBreakPoint {
                            width: 100%;
                        }
                        .fruitsectionsplit {
                            display: flex;
                            gap: 30px;
                        }
                        .fruit {
                            color: #1f4590;
                            font-weight: 600;
                        }
                        .mins {
                            color: #121212;
                            mix-blend-mode: normal;
                            opacity: 0.3;
                        }
                        .simple {
                            width: 80%;
                            padding-top: 2%;
                        }
                    }
                }
            }
            .righteventfruit {
                width: 50%;
                padding-top: 3%;
                @include xsBreakPoint {
                    width: 100%;
                }
                @include smBreakPoint {
                    width: 100%;
                }
                @include mdBreakPoint {
                    width: 100%;
                }
                @include lgBreakPoint {
                    width: 100%;
                }
                @include xlBreakPoint {
                    width: 100%;
                }
                .workshopimage {
                    .shopingimage {
                        width: 100%;
                        height: 190px;
                        border-radius: 5px;
                        @include mdBreakPoint {
                            width: 100%;
                            height: auto;
                        }
                        @include smBreakPoint {
                            width: 100%;
                            height: auto;
                        }
                        @include xsBreakPoint {
                            width: 100%;
                            // height: auto;
                        }
                    }
                }
                .fruitcontent {
                    display: flex;
                    // border: 2px solid red;
                    margin-top: 4%;
                    border-radius: 10px;
                    background: #ffffff;
                    box-shadow: 10.8299px 12.9959px 101.801px rgba(0, 0, 0, 0.08);
                    border-radius: 5.94495px;
                    height: 120px;
                    @include xsBreakPoint {
                        flex-direction: column;
                        height: auto;
                    }
                    @include smBreakPoint {
                        width: 100%;
                        // height: auto;
                        // border:2px solid blue;
                    }
                    @include mdBreakPoint {
                        width: 100%;
                        height: auto;
                    }
                    .contentimage {
                        width: 25%;
                        // border: 2px solid green;
                        @include xsBreakPoint {
                            width: 100%;
                        }
                        .shopingimagecontent {
                            width: 100%;
                            height: 100%;
                            border-radius: 10px;
                            cursor: pointer;
                            @include xsBreakPoint {
                                height: auto;
                            }
                            @include smBreakPoint {
                                width: 100%;
                                height: auto;
                            }
                            @include mdBreakPoint {
                                width: 100%;
                                height: auto;
                            }
                        }
                    }
                    .contentfruit {
                        width: 75%;
                        // border: 4px solid orange;
                        padding: 23px;
                        @include xsBreakPoint {
                            width: 100%;
                        }
                        .fruitsectionsplit {
                            display: flex;
                            gap: 30px;
                        }
                        .fruit {
                            color: #1f4590;
                            font-weight: 600;
                        }
                        .mins {
                            color: #121212;
                            mix-blend-mode: normal;
                            opacity: 0.3;
                        }
                        .simple {
                            width: 80%;
                            padding-top: 2%;
                        }
                    }
                }
            }
        }
    }
}
