@use "../../../../../scss/abstract/" as *;

.mainsidebarsectioncategory {
    // border: 2px solid red;
    z-index: 9898989898;
    .filtersectiontext {
        width: 100%;
        display: flex;
        gap: 20px;
        margin: 0 auto;
        .filterbytext {
            color: #000000;
            font-weight: 600;
        }
        .splitfiltertext {
            display: flex;
            width: 100%;
            .leftfilter {
                width: 60%;
                display: flex;
                gap: 13px;
                padding-left: 3%;
                @include mdBreakPoint {
                    width: 100%;
                    gap: 15px !important;
                    text-align: center;
                }
                @include lgBreakPoint {
                    width: 100%;
                    gap: 20px !important;
                }
            }
            .rightfilter {
                width: 40%;
                display: flex;
                justify-content: flex-end;
                padding-right: 3%;
                @include mdBreakPoint {
                    width: 100%;
                   
                }
                @include lgBreakPoint {
                    width: 50%;
                }
            }
        }
    }
    .bordertopsection {
        // border: 0.12px solid #242d40;
        opacity: 0.3;
        border: 1px solid #242d40;
    }
}

.dropdownsection {
    width: 100%;
    padding-top: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    .transactionsize {
        font-size: 1rem;
        color: #000000;
        font-weight:600;
    }
}

.gapsectiondropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 4%;
    cursor: pointer;
    width:100%;
}



.readmorebutton
{
    color: #E95A5A;
    padding-top:4%;
    cursor:pointer;
}

.cleartexts
{
    color:#E95A5A;
    cursor:pointer;
}

.totext
{
    color:rgba(0, 0, 0, 0.48);
    font-weight:600;
}

.pricefiltertextbox
{
   
    outline:none !important;
    color:black !important;
  
}

.filterprogress
{
  
    padding:20px 0px;
    background:rgba(69, 110, 214, 0.05);
    border-radius:2px;
}


.filtermodelshow
{

 width:100%;
    height:500px;
    over-flow:hidden;
    overflow:auto;
   
    .cardfilters
    {
        width:32%!important;
        padding-top:1%;
display:flex;
gap:10px;
cursor:pointer;       
    }
    .supportcursor
    {
        cursor:pointer;
    }

    
    
}

.savefilters
{
    width:18%;
    padding:6px;
    border:1px solid red;
    outlien:none;
    background:#E95A5A;
    color:white;
    cursor:pointer;
    border-radius:10px;
    font-weight:600;
}

.closefilter
{
    width:18%;
    padding:6px;
    border:1px solid #E95A5A;
    outlien:none;
    background:white;
    color:#E95A5A;
    cursor:pointer;
    border-radius:10px;
    font-weight:600;
}


.cardfilters
{
    width:100%!important;
    padding-top:1%;
display:flex;
gap:10px;
cursor:pointer;       
}
.supportcursor
{
    cursor:pointer;
}