@use "../../../../scss/abstract/" as *;


.nodatafoundimagesection
{
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    padding:15px;
    .noimages
    {
        width:150px;
        height:150px;
    }
    .titlereview
    {
        color: rgba(0, 0, 0, 0.48);
        font-size:1rem;
        padding-top:1.4%;
    }

}