@use "../abstract/" as *;

.active {
    color: #e75b5e !important;
    text-decoration: none !important;
    font-weight: 700;
    cursor: pointer;
}

.nav-link {
    font-size: 1rem !important;
    border: none;
    outline: none;
}
.light-active {
    color: #e75b5e !important;
}
