@use "../abstract/" as *;

// all banner size in width and height

.allbanners {
    width: 100%;
    transform: translate3d(0, 0, 1px);
    border-radius: 10px;
    cursor: pointer;
    // aspect-ratio: 300/100;
    // display: block;
    // margin: auto;
    // object-fit: contain;
    // aspect-ratio: 240 / 150;
    // opacity:0;
    // object-fit: cover;
    // height: 340px;
    height:100%;
    @include xsBreakPoint {
        width: 100%;
        // height: auto;
    }
    @include smBreakPoint {
        width: 100%;
    }
    @include mdBreakPoint {
        width: 100%;
    }
    @include lgBreakPoint {
        width: 100%;
        // aspect-ratio: 240 / 70;
    }
    @include xlBreakPoint {
        width: 100%;
        // aspect-ratio: 240 / 70;
    }
    @include xxxlBreakPoint {
        width: 100%;
        // aspect-ratio: 240 / 70;
    }
}

// sub banner size in width and height

.subbannerimage {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

// events banner section width and height

.eventbanners {
    max-width: 100%;
    max-height: 100%;
    // object-fit: contain;
    // height: 400px;
    // border-radius: 10px;
}

// all product image size in width and height

.productimages {
    width: 100%;
    height: 250px;
    object-fit: contain;
    cursor: pointer;
}
.productimagess {
    width: 100%;
    cursor: pointer;
    // border:1px solid red;
}

.imageeventcards {
    width: 100%;
    height: 200px;
    object-fit: contain;
    // border:1px solid blue;
}
