@use "../abstract/" as *;

// all banner size in width and height

.allbanners {
    width: 100% !important;
    max-width: 1300px;
    height: 350px;
    transform: translate3d(0, 0, 1px);
    border-radius: 10px;
    cursor: pointer;

    @include xsBreakPoint {
        width: 100%;
        height: 170px !important;
    }
    @include smBreakPoint {
        width: 100%;
        height: 200px !important;
    }
    @include mdBreakPoint {
        width: 100%;
        height: 250px !important;
    }
    @include lgBreakPoint {
        width: 100%;
        height: 300px !important ;
    }
    @include xlBreakPoint {
        width: 100%;
        height: 320px !important;
    }
}

// sub banner size in width and height

.subbannerimage {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

// events banner section width and height

.eventbanners {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

// all product image size in width and height

.productimages {
    width: 100%;
    height: 250px;
    object-fit: contain;
    cursor: pointer;
}
