@use "../abstract" as *;

.active {
    color: red !important;
    text-decoration: none !important;
}
.nav-link {
    text-decoration: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selleractive {
    background-color: #e95a5a;
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 10px 0px;
    font-weight: 700;
    @include xsBreakPoint {
        width: 100%;
        padding: 3px !important;
        font-size: 0.657rem !important;
    }
    @include smBreakPoint {
        width: 100%;
        padding: 3px !important;
        font-size: 0.857rem !important;
    }
}
.sellerinactive {
    background-color: white;
    color: #383838;
    padding: 10px 0px;
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 3px;
    border: 1px solid #383838;
    font-weight: 500;
    @include xsBreakPoint {
        width: 100%;
        padding: 3px !important;
        font-size: 0.657rem !important;
    }
    @include smBreakPoint {
        width: 100%;
        padding: 10px !important;
        font-size: 0.957rem !important;
    }
}

// login button

.loginbutton {
    background-color: #e95a5a;
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px 0px;
    font-weight: 700;
    @include xsBreakPoint {
        width: 100%;
 
    }
    @include smBreakPoint {
        width: 100%;
      
    }
}
