@use "../abstract" as *;

.nav-link {
    text-decoration: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selleractive {
    background-color: #e95a5a !important;
    color: white !important;
    cursor: pointer !important;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 10px 0px;
    font-weight: 500;
    @include xsBreakPoint {
        width: 100%;
        // padding: 3px !important;
        font-size: 0.897rem !important;
    }
    @include smBreakPoint {
        width: 100%;
        padding: 3px !important;
        font-size: 0.857rem !important;
    }
    @include mdBreakPoint {
        width: 100% !important;
    }
    @include lgBreakPoint {
        width: 100% !important;
    }
    @include xlBreakPoint {
        width: 100% !important;
    }
}
.selleractive:hover {
    background-color: white !important;
    cursor: pointer;
    color: #e95a5a !important;
    border: 1px solid #e95a5a !important;
}
.sellerinactive {
    background-color: white;
    color: #383838;
    padding: 10px 0px;
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 3px;
    border: 1px solid #383838;
    font-weight: 500;
    @include xsBreakPoint {
        width: 100%;
        padding: 3px !important;
        font-size: 0.657rem !important;
    }
    @include smBreakPoint {
        width: 100%;
        padding: 10px !important;
        font-size: 0.957rem !important;
    }
}

// login button

.loginbutton {
    background-color: #e95a5a !important;
    border: none !important;
    color: white !important;
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px !important;
    font-weight: 700 !important;
    @include xsBreakPoint {
        width: 100%;
    }
    @include smBreakPoint {
        width: 100%;
    }
}

.cancelbutton {
    background-color: #ffffff !important;
    background: #ffffff;
    border: 1px solid #9f9f9f;

    cursor: pointer;
    width: 100%;
    color: #121212;
    outline: none;
    border-radius: 10px;
    padding: 10px 0px;
    opacity: 0.7;
    @include xsBreakPoint {
        width: 100%;
    }
    @include smBreakPoint {
        width: 100%;
    }
}

.resendbutton {
    background-color: white !important;
    border: none !important;
    color: black;
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px 0px;
    font-weight: 700;
    border: 1px solid #9f9f9f !important;
    @include xsBreakPoint {
        width: 100%;
    }
    @include smBreakPoint {
        width: 100%;
    }
}

.button {
    background-color: red !important;
    border: none !important;
    width: 100%;
}

.form-control {
    border: 1px solid grey !important;
}
.form-control:focus {
    border-color: none !important;
    box-shadow: none !important;
}

.goTopHidden {
    display: none;
}

.goTop {
    position: fixed;
    left: 90%;
    border: 2px solid red;
    width: 30px;
    height: 30px;
    bottom: 5%;
    background: red;
    border-radius: 50%;
}

.edit-btn {
    width: 100%;
    color: #e95a5a !important;
    background-color: white !important;
    border: 1px solid #e95a5a !important;
    background: transparent !important;
    cursor: pointer;
    border-radius: 10px !important;
    font-weight: 600 !important;
    font-size: 1.3rem !important;
    @include xsBreakPoint {
        width: 100% !important;
    }
    @include smBreakPoint {
        width: 100% !important;
    }
    @include mdBreakPoint {
        width: 100% !important;
    }
    @include lgBreakPoint {
        width: 100% !important;
    }
    @include xlBreakPoint {
        width: 100% !important;
    }
}
.edit-btn:hover {
    background-color: #e95a5a !important;
    cursor: pointer;
    color: white !important;
}

// verified button section start

.verify {
    background: rgba(69, 110, 214, 0.1);
    border-radius: 7px;
    color: #e95a5a;
    padding: 3px 0px;
    border-radius: 10px;
    width: 60% !important;
    text-align: center;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
}

// verified button section end
