@use "../abstract/" as *;
.cardsection {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color:white !important;
    @include xlBreakPoint {
        gap: 30px;
    }
    .card {
        width: 30% !important;
        display: flex !important;
        // gap: 10px !important;
        height: 400px;
        border: none !important;
        box-shadow: 8px 13px 112px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        z-index: 0;
        padding: 15px 0px;
        cursor: pointer;
        border:2px solid blue !important;
        @include themed() {
            background: t($card);
        }
        @include xsBreakPoint {
            width: 100% !important;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @include smBreakPoint {
            width: 43% !important;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @include mdBreakPoint {
            width: 45% !important;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @include lgBreakPoint {
            width: 22% !important;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 310px;
        }
        @include xlBreakPoint {
            width: 22.3% !important;
            margin: 0 auto;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

// womenpreneurs card section start
.cardsections {
    // display: flex;
    // gap: 20px;
    // align-items: center;
    // justify-content: center;

    .cards {
        width: 23.67% !important;
        display: flex !important;
        gap: 20px;
        height: auto;
        // background: #ffffff;
        border:2px solid red;
        border-radius: 8px;
        // align-items: center;
        // justify-content: center;
        // padding: 50px 0px;
        // background: linear-gradient(
        //     180deg,
        //     rgba(18, 18, 18, 0) 0%,
        //     rgba(18, 18, 18, 0.3) 76.56%,
        //     rgba(18, 18, 18, 0.8) 100%
        // );
        border-radius: 4px;
        flex-direction: column;
        position: relative;
        cursor: pointer;
        @include xsBreakPoint {
            width: 100% !important;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @include smBreakPoint {
            width: 100% !important;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @include mdBreakPoint {
            width: 40% !important;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @include lgBreakPoint {
            width: 22% !important;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @include xlBreakPoint {
            width: 20% !important;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .womentitle {
            position: absolute;
            left: 3%;
            bottom: 8%;
            color: white;
        }
        .womendescription {
            position: absolute;
            bottom: 1.2%;
            left: 3%;
            color: rgba(255, 255, 255, 0.8);
            font-size: 0.786rem;
        }
    }
}

// womenpreneurs card section start

// card section events start

.cardsections-events {
    display: flex;
    gap: 50px;
    .cardevents {
        width: 45.67% !important;
        display: flex !important;
        // gap: 20px;
        height: auto;

        // border:2px solid red;
        border-radius: 8px;
        // align-items: center;
        // justify-content: center;
        padding: 20px 0px;

        border-radius: 4px;
        flex-direction: column;
        position: relative;
        cursor: pointer;
        @include xsBreakPoint {
            width: 100% !important;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @include smBreakPoint {
            width: 100% !important;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @include mdBreakPoint {
            width: 40% !important;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @include lgBreakPoint {
            width: 22% !important;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @include xlBreakPoint {
            width: 20% !important;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .womentitle {
            position: absolute;
            left: 3%;
            bottom: 8%;
            color: white;
        }
        .womendescription {
            position: absolute;
            bottom: 1.2%;
            left: 3%;
            color: rgba(255, 255, 255, 0.8);
            font-size: 0.786rem;
        }
    }
}

// card section events end

// blog section  card start
.blogloream {
    text-align: center;
    width: 30%;
    margin: 0 auto;
    @include xsBreakPoint {
        width: 100%;
    }
    @include smBreakPoint {
        width: 90%;
    }
    @include mdBreakPoint {
        width: 60%;
    }
    @include lgBreakPoint {
        width: 40% !important;
    }
    @include xlBreakPoint {
        width: 40% !important;
    }

    @include themed() {
        color: t($textgrey);
    }
}
.blog-cards {
    display: flex;
    // border: 2px solid green;
    .cards-blog {
        width: 32% !important;
        height: auto;
        // border: 2px solid red;
        border-radius: 8px;
        padding-bottom: 1.2%;
        border-radius: 4px;
        background: red;
        cursor: pointer;
        padding-top: 1.2%;
        @include themed() {
            background: t($card);
        }

        @include xsBreakPoint {
            width: 100% !important;
            margin: 0 auto;
        }
        @include smBreakPoint {
            width: 100% !important;
            margin: 0 auto;
        }
        @include mdBreakPoint {
            width: 30% !important;
            margin: 0 auto;
        }
        @include lgBreakPoint {
            width: 30% !important;
            margin: 0 auto;
        }
        @include xlBreakPoint {
            width: 30% !important;
            margin: 0 auto;
        }
        .blog-section-split {
            display: flex;
            justify-content: space-between;
            .smalltextgrey {
                text-transform: uppercase;
                font-size: 0.728rem;
                @include themed() {
                    color: t($textgrey);
                }
            }
        }
    }
}

// blog section  card end

// what make card section start

.blogloream {
    text-align: center;
    width: 30%;
    margin: 0 auto;
    @include xsBreakPoint {
        width: 100%;
    }
    @include smBreakPoint {
        width: 90%;
    }
    @include mdBreakPoint {
        width: 60%;
    }

    @include themed() {
        color: t($textgrey);
    }
}
.whatmake-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 2px solid green;
    gap: 40px;
    width: 100%;
    margin: 0 auto;
    .smalltextgrey {
        font-size: 0.728rem;
        @include themed() {
            color: t($textgrey);
        }
    }
    @include xsBreakPoint {
        padding-left: 2%;
        gap: 10px;
    }
    @include mdBreakPoint {
        padding-left: 2%;
        gap: 10px;
    }
    .cards-whatmake {
        width: 30% !important;
        height: 270px;
        // border: 2px solid red;
        border-radius: 8px;
        padding: 20px 0px;
        border-radius: 5px;
        // background: red;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        padding-top: 1.2%;
        @include themed() {
            background: t($card);
        }

        @include xsBreakPoint {
            width: 100% !important;
            margin: 0 auto;
        }
        @include smBreakPoint {
            width: 100% !important;
            margin: 0 auto;
        }
        @include mdBreakPoint {
            width: 30% !important;
            margin: 0 auto;
        }
        @include lgBreakPoint {
            width: 30% !important;
            margin: 0 auto;
        }
        @include xlBreakPoint {
            width: 30% !important;
            margin: 0 auto;
        }
        .blog-section-split {
            display: flex;
            justify-content: space-between;
            .smalltextgrey {
                text-transform: uppercase;
                font-size: 0.728rem;
                @include themed() {
                    color: t($textgrey);
                }
            }
        }
    }
}

// what make card section end

// detail card section womeyn start

.womendetail-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 2px solid green;
    gap: 30px;
    width: 100%;
    margin: 0 auto;
    .smalltextgrey {
        font-size: 0.728rem;
        @include themed() {
            color: t($textgrey);
        }
    }
    @include xsBreakPoint {
        padding-left: 2%;
        gap: 10px;
    }
    @include mdBreakPoint {
        padding-left: 2%;
        gap: 10px;
    }
    .cards-detailsection {
        width: 23% !important;
        border-radius: 8px;
        cursor: pointer;
        @include themed() {
            background: t($card);
        }

        @include xsBreakPoint {
            width: 100% !important;
            margin: 0 auto;
        }
        @include smBreakPoint {
            width: 100% !important;
            margin: 0 auto;
        }
        @include mdBreakPoint {
            width: 30% !important;
            margin: 0 auto;
        }
        @include lgBreakPoint {
            width: 30% !important;
            margin: 0 auto;
        }
        @include xlBreakPoint {
            width: 30% !important;
            margin: 0 auto;
        }
        .blog-section-split {
            display: flex;
            justify-content: space-between;
            .smalltextgrey {
                text-transform: uppercase;
                font-size: 0.728rem;
                @include themed() {
                    color: t($textgrey);
                }
            }
        }
    }
}
// detail card section womeyn end

.abouts-cards {
    display: flex;
    gap: 40px;
    width: 100%;
    // margin: 0 auto;
    .smalltextgrey {
        font-size: 0.728rem;
        @include themed() {
            color: t($textgrey);
        }
    }
    @include xsBreakPoint {
        padding-left: 2%;
        gap: 10px;
    }
    @include mdBreakPoint {
        padding-left: 2%;
        gap: 10px;
    }
    .cards-aboutus {
        width: 30% !important;
        height: auto;
        // border: 2px solid red;
        border-radius: 8px;
        padding: 20px 0px;
        border-radius: 7px;
        // background: red;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding-top: 1.2%;
        @include themed() {
            background: t($card);
        }

        @include xsBreakPoint {
            width: 100% !important;
            margin: 0 auto;
        }
        @include smBreakPoint {
            width: 100% !important;
            margin: 0 auto;
        }
        @include mdBreakPoint {
            width: 30% !important;
            margin: 0 auto;
        }
        @include lgBreakPoint {
            width: 30% !important;
            margin: 0 auto;
        }
        @include xlBreakPoint {
            width: 30% !important;
            margin: 0 auto;
        }
        .aboutus-text {
            font-size: 1.2rem;
            font-weight: 600;
            @include xsBreakPoint {
                font-size: 0.978rem;
            }
            @include mdBreakPoint {
                font-size: 0.978rem;
            }
        }

        .smalltextgrey {
            font-size: 0.789rem;
            width: 90%;
            line-height: 1.7;
            @include xsBreakPoint {
                font-size: 0.786rem;
            }
            // @include themed() {
            //     color: t($textgrey);
            // }
        }
    }
}
