@use "../abstract/" as *;

.cardsection {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

    .card {
        width: 23.67% !important;
        display: flex !important;
        gap: 20px !important;
        height: auto;
        border: none !important;
        background: #ffffff;
        box-shadow: 8px 13px 112px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        @include xsBreakPoint {
            width: 100% !important;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @include smBreakPoint {
            width: 100% !important;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @include mdBreakPoint {
            width: 40% !important;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @include lgBreakPoint {
            width: 22% !important;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @include xlBreakPoint {
            width: 20% !important;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}



.cardsections {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

    .cards {
        width: 23.67% !important;
        display: flex !important;
        gap: 20px;
        height: auto;
        background: #ffffff;
        // border:2px solid red;
        border-radius: 8px;
        align-items: center;
        justify-content:center;
        padding:50px 0px;
        background: linear-gradient(180deg, rgba(18, 18, 18, 0) 0%, rgba(18, 18, 18, 0.3) 76.56%, rgba(18, 18, 18, 0.8) 100%);
        border-radius: 4px;
        flex-direction: column;
        position: relative;
        cursor: pointer;
        @include xsBreakPoint {
            width: 100% !important;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @include smBreakPoint {
            width: 100% !important;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @include mdBreakPoint {
            width: 40% !important;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @include lgBreakPoint {
            width: 22% !important;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @include xlBreakPoint {
            width: 20% !important;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .womentitle
        {
            position:absolute;
            left:3%;
            bottom:8%;
            color:white;
        }
        .womendescription
        {
            position: absolute;
            bottom:1.2%;
            left:3%;
            color: rgba(255, 255, 255, 0.8);
            font-size: 0.786rem;
        }
    }
}


// card section


.cardsections-events {
    display: flex;
    gap: 50px;
    // align-items: center;
    // justify-content: center;

    .cardevents {
        width: 45.67% !important;
        display: flex !important;
        // gap: 20px;
        height: auto;
        
        // border:2px solid red;
        border-radius: 8px;
        // align-items: center;
        // justify-content: center;
        padding: 20px 0px;
        
        border-radius: 4px;
        flex-direction: column;
        position: relative;
        cursor: pointer;
        @include xsBreakPoint {
            width: 100% !important;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @include smBreakPoint {
            width: 100% !important;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @include mdBreakPoint {
            width: 40% !important;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @include lgBreakPoint {
            width: 22% !important;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @include xlBreakPoint {
            width: 20% !important;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .womentitle {
            position: absolute;
            left: 3%;
            bottom: 8%;
            color: white;
        }
        .womendescription {
            position: absolute;
            bottom: 1.2%;
            left: 3%;
            color: rgba(255, 255, 255, 0.8);
            font-size: 0.786rem;
        }
    }
}