@use "../abstract/" as *;

.mainsection
{
    width:100%;
    .insidesection
{
    width:75%;
    margin:0 auto;
    @include xsBreakPoint {
        width: 85%;
        padding-top: 6%;
    }
    @include smBreakPoint {
        width: 85%;
        padding-top: 6%;
    }
    @include mdBreakPoint {
        width: 85%;
    }
    @include lgBreakPoint {
        width: 89%;
    }
    @include xlBreakPoint {
        width: 85%;
    }
}
}
