@use "../abstract/" as *;

.emptyboxrightcolor {
    opacity: 0.12;
    filter: blur(329px);
    position: absolute;
    top: 5%;
    width: 30%;
    height: 40%;
    right: 0;
    @include themed() {
        background: t($emptyboxright);
    }
}
.emptyboxleftcolor {
    position: absolute;
    left: 0;
    top: 65%;
    opacity: 0.256;
    width: 20%;
    height: 40%;
    filter: blur(239.825px);
    @include themed() {
        background: t($emptyboxleft);
    }
}
