@use "../abstract/" as *;

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdowncontent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 280px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: -200px;
  padding: 20px 20px;
  cursor: pointer;
  border-radius: 20px;

  @include themed() {
    background: t($header);
  }
}
.dropdowncontent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdowncontent a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdowncontent {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.dropdown1 {
  position: relative;
  display: inline-block;
}
.dropdowncontent1 {
  display: none;
  position: absolute;
  background-color: white !important;
  width: 70vw !important;
  // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0);
  // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  // z-index: 1;
  left: 0%;
  // top:10vh;
  padding: 0px 20px;
  height: 70vh;

  cursor: pointer;
  z-index: -10%;
  border-radius: 7px;
  // @include themed() {
  //     background: t($header);
  // }
}
.dropdowncontent1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background: blue;
}
.dropdowncontent1 a:hover {
  background-color: white;
}
.dropdown1:hover .dropdowncontent1 {
  display: block;
  // height:20px;
  // margin-top:5%;
}
.dropdown1:hover .dropbtn1 {
  background-color: blue;
}

// new sections

a {
  text-decoration: none;
}

nav {
  font-family: monospace;
}

// first section

.dropdownmegamain {
  // background: darkorange;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  color: #fff;
  // background: darkorange;
  display: block;
  float: left;
  //   padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

li a {
  color: black !important;
  text-decoration: none !important;
  transition: transform 0.4s;
}

li a:hover {
  // background: #E75B5E;
  color: #e75b5e !important;
  cursor: pointer;
  transform: scale(1) !important;
  -ms-transform: scale(1) !important; /* IE 9 */
  -webkit-transform: scale(1) !important;
}

.dropdownmegamain li ul {
  background: white;
  // box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  visibility: hidden;
  opacity: 0;
  height: 60vh;
  width: 76vw;
  position: absolute;
  transition: all 0.5s ease;
  // margin-top: 0.278rem;
  left: -65%;
  display: none;
  border-radius: 10px;
  border: 1px solid #d8e5f6;

  @include lgBreakPoint {
    width: 93vw !important;
  }

  @include xlBreakPoint {
    width: 85vw !important;
  }
}

.dropdownmegamain li:hover > ul,
.dropdownmegamain li .dropdownmegamain:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.dropdownmegamain li .dropdownmegamain li {
  clear: both;
  width: 100%;
  // height:10px;
}

.dropdownmega {
  padding: 10px 10px;
  display: flex !important;
  flex-direction: column !important;
  gap: 4px !important;
}

.dropdownmegamain:hover {
  color: black !important;
}

// section section

.dropdownmegamainss {
  // background: darkorange;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  color: #fff;
  // background: darkorange;
  display: block;
  float: left;
  //   padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

li a {
  color: black !important;
  text-decoration: none !important;
}

// li a:hover {
//   //   background: #E75B5E;
//   color: #e75b5e !important;
//   cursor: pointer;
// }

.dropdownmegamainss li ul {
  background: rgba(255, 255, 255, 1) !important;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  visibility: hidden;
  opacity: 0;
  height: 80vh;
  width: 65vw;
  position: absolute;
  transition: all 0.5s ease;
  // margin-top: 0.278rem;
  left: -60%;
  display: none;
  border-radius: 10px;
}

.dropdownmegamainss li:hover > ul,
.dropdownmegamainss li .dropdownmegamainss:hover {
  visibility: hidden;
  opacity: 1;
  display: block;
}

.dropdownmegamainss li .dropdownmegamain li {
  clear: both;
  width: 100%;
  // height:10px;
}

.dropdownmega {
  padding: 1px 1px;
  display: flex !important;
  flex-direction: column !important;
  gap: 4px !important;
}

// .dropdownmegamainss:hover {
//   color: black !important;
// }

.dropdownmegamains {
  color: black !important;
  font-weight: 650 !important;
}

.maindropdown {
  // border:2px solid red;
  height: 100%;
  border-radius: 10px;
  display: flex;
  padding-top: 0%;
  // gap:20px;
  .firstsection {
    // border:2px solid red;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px !important;
    padding-top: 2%;
    .flexdirections {
      display: flex;
      flex-direction: column;
      .unactivetext {
        margin: 2% 0px !important;
      }
    }
  }
  .secondsection {
    // border:2px solid red;
    width: 20%;
    background-color: #f7f6f6;
    display: flex;
    flex-direction: column;
    gap: 10px !important;
    padding-top: 2%;

    .flexdirections {
      display: flex;
      flex-direction: column;
      .unactivetext {
        margin: 2% 0px !important;
      }
    }
  }
  .thirdsection {
    // border:2px solid red;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px !important;
    padding-top: 2%;

    .flexdirections {
      display: flex;
      flex-direction: column;
      .unactivetext {
        margin: 2% 0px !important;
      }
    }
  }
  .fourthsection {
    // border:2px solid red;
    width: 20%;
    background-color: #f7f6f6;
    display: flex;
    flex-direction: column;
    gap: 10px !important;
    padding-top: 2%;

    .flexdirections {
      display: flex;
      flex-direction: column;
      .unactivetext {
        margin: 2% 0px !important;
      }
    }
  }
  .fifthsection {
    // border:2px solid red;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px !important;
    padding-top: 2%;

    .flexdirections {
      display: flex;
      flex-direction: column;
      .unactivetext {
        margin: 2% 0px !important;
      }
    }
  }
}
.commontitle {
  color: #e95a5a !important;
  font-weight: 600;
  font-size: 0.889rem;
  padding-left: 5%;
  margin-top: 5% !important;
}
.unactivetext {
  display: flex;
  gap: 4px !important;
  padding-left: 5%;
  font-size: 13.5px !important;
}

// aboutus page

.dropbtnabout {
  background: none !important;

  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdownabout {
  position: relative;
  display: inline-block;
}

.dropdown-contentabut {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  min-width: 160px;
  // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  width: 15vw !important;
  // border:1px solid red;
  @include lgBreakPoint
  {
    width: 30vh !important;
  }

  @include xlBreakPoint
  {
    width: 30vh !important;
  }
  
}

.dropdown-contentabut a {
  color: black !important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-contentabut a:hover {
  background: #fff1f1;
  color: #e95a5a !important;
  border-radius: 10px;
  cursor: pointer;

}

.dropdownabout:hover .dropdown-contentabut {
  display: block;
  color: #e95a5a;
  cursor: pointer;

}

.dropdownabout:hover .dropbtnabout {
  color: #e95a5a;
  cursor: pointer;
}

.patharrow {
  width: 10px;
  height: 10px;
  object-fit: contain;
}

.hovertexts {
  cursor: pointer;
}
