@use "../abstract" as *;

.inputserach {
    border: none;
    outline: none;
    background: #f1f1f1;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    @include xsBreakPoint {
        width: 100% !important;
        padding: 2px 5px;
    }
    @include smBreakPoint {
        width: 100% !important;
        padding: 2px 5px;
    }
    @include mdBreakPoint {
        width: 100% !important;
        padding: 2px 5px;
    }
    @include lgBreakPoint {
        width: 100% !important;
        padding: 2px 5px;
    }
    @include xlBreakPoint {
        width: 100% !important;
        padding: 2px 5px;
    }
}
.serachicon {
    width: 18px;
    height: 18px;
}
::placeholder {
    font-size: 16px !important;
}

.form-select {
    border: none;
    outline: none;
    background-color: white !important;
}

.form-control-profile {
    border: none !important;
    background: rgba(151, 151, 151, 0.13) !important;
    padding: 10px 15px !important;
}


.progress-bar
{
    background-color:#E95A5A !important;
    z-index:989898;
}