@use "../abstract" as *;

.inputserach {
    border: none;
    outline: none;
    background: #f1f1f1;
    padding: 7px 7px;
    
    border-radius: 8px;
    // border:2px solid blue;
    width:90%;
    cursor: pointer;
    @include xsBreakPoint {
        width: 100% !important;
        padding: 2px 5px;
    }
    @include smBreakPoint {
        width: 100% !important;
        padding: 2px 5px;
    }
    @include mdBreakPoint {
        width: 100% !important;
        padding: 2px 5px;
    }
    @include lgBreakPoint {
        width: 100% !important;
        padding: 2px 5px;
    }
    @include xlBreakPoint {
        width: 100% !important;
        padding: 2px 5px;
    }
}
.serachicon {
    width: 18px;
    height: 18px;
    // padding-right:10px;
}
::placeholder {
    font-size: 16px !important;
}

.form-select {
    border: none;
    outline: none;
    background-color: white !important;
}

.form-control-profile {
    border: none !important;
    background: rgba(151, 151, 151, 0.13) !important;
    padding: 10px 15px !important;
}

.progress-bar {
    background-color: #e95a5a !important;
}
.progress {
    height: 8px !important;
}
.orders-form-select {
    border: 1px solid #9f9f9f !important;
    padding: 20px !important;
    border-radius: 20px !important;
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    cursor: pointer;
}
.orders-form-selectnew {
    border: none !important;
    // padding: 20px !important;
    border-radius: 20px !important;
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    outline: none !important;
    cursor: pointer;
}

.inputStyles {
    border: 2px solid #e95a5a;
    // padding: 10px 25px;
    width: 60px !important;
    height: 50px !important;
    border-radius: 10px;
    outline: none;
    text-align: center;
}
.inputgap {
    margin: 20px;
    @include xsBreakPoint {
        margin: 10px;
    }
    @include smBreakPoint {
        margin: 10px;
    }
    @include mdBreakPoint {
        margin: 14px;
    }
}

.form-control-profiles {
    width: 100%;
    background: rgba(151, 151, 151, 0.13) !important;
    padding: 10px 15px !important;
    border: none !important;
    outline: none !important;
    border-radius: 10px !important;
}

.formsectioncommon {
    // border: 2px solid blue;
    position: relative;
    width: 50%;
    @include xsBreakPoint {
        width: 100% !important;
    }
    @include smBreakPoint {
        width: 80% !important;
    }
    @include mdBreakPoint {
        width: 60% !important;
    }
    @include lgBreakPoint {
        width: 60%;
    }
    .passwordicons {
        position: absolute;
        top: 0;
        right: 2%;
        cursor: pointer;
    }
}



.formsectioncommonlogin {
    // border: 2px solid blue;
    position: relative;
    width: 100%;
    @include xsBreakPoint {
        width: 100% !important;
    }
    @include smBreakPoint {
        width: 100% !important;
    }
    @include mdBreakPoint {
        width: 100% !important;
    }
    @include lgBreakPoint {
        width: 100%;
    }
    .passwordicons {
        position: absolute;
        top: 0;
        right: 2%;
        cursor: pointer;
    }
}

.labelname
{
    font-weight:600;
}


