@use "../abstract/" as *;

.offcanvas {
    @include xsBreakPoint {
        width: 80% !important;
    }
    @include mdBreakPoint {
        width: 36% !important;
    }
}
.offcanvebodysection {
    z-index: 9898989898989;
    height: 100vh;
overflow:hidden;
    overflow-y:auto;
    .arrowend {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor:pointer;
    }
    .closearrow {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .profile-section {
        // .profile-image {
        //     width: 100px;
        //     height: 100px;
        //     margin: 0 auto;
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        // }
        @include mdBreakPoint
        {
            width:100%;
            display:flex;
            align-items:center;
            justify-content:center;
            cursor:pointer;
        }
    }
    .nav-links-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
        padding-left: 4%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .menuicons {
        width: 25px;
        height: 25px;
    }
    .profilesettings
    {
        border-top:1px solid #9F9F9F;
        width:80%;
        margin-left:15px;
        display:flex;
        // flex-direction:column;
        // gap:40px;
        .insideprofilemobile
        {
            padding-top:10%;
            display:flex;
            flex-direction:column;
            gap:15px;
            cursor:pointer;
        }
    
    }
    .carticons {
        width: 45px;
        height: 45px;
        cursor: pointer;
    }
    .cursorpointor
    {
        cursor: pointer;
    
    }
}



.modalheader
{
    border:none !important;
    padding-right:5% !important;
    padding-top:5% !important;
}