@use "../abstract/" as *;

.large-text {
    font-size: 2rem !important;
    font-weight: 650;
    @include xsBreakPoint {
        font-size: 1.2rem !important;
    }
}

.medium-text {
    font-size: 1.2rem;
    font-weight: 600;
    @include mdBreakPoint {
        font-size: 1rem !important;
    }
    @include themed() {
        color: t($textblack);
    }
}
.small-text {
    font-size: 1rem;
    @include mdBreakPoint {
        font-size: 1rem !important;
    }
}

.small-light-text-grey {
    font-weight: 600;
    font-size: 1.1234rem;
    @include themed() {
        color: t($textgreylight);
    }
    @include xsBreakPoint
    {
        font-size:0.868rem;
    }
}

.text-grey{
    opacity:0.5;
    @include themed() {
        color: t($textgreylight);
    }
}

.profile-text-sizes {
    font-size: 1.6rem;
    font-weight: 600;
    display: flex;

    @include themed() {
        color: t($textgreyblack);
    }
    @include lgBreakPoint {
        font-size: 1.2rem;
    }
}

.textseller {
    font-size: 2rem;
    font-weight: 600;
    @include xsBreakPoint {
        font-size: 1.2rem !important;
        font-weight: 600;
    }
    @include mdBreakPoint {
        font-size: 1.2rem !important;
        font-weight: 600;
    }
}
// grey text color
.textgrey {
    font-weight: 600;
    @include themed() {
        color: t($textgrey);
    }
}
.textgreysmall {
    color: #8d8d8d;
    font-weight: 500;
    font-size: 0.893rem;
}
// price text
.textprice {
    font-weight: 600;
    @include themed() {
        color: t($text);
    }
}
.textpricedashed {
    color: #8d8d8d;
}
.textpricedashedgreen {
    @include themed() {
        color: t($textgreen);
    }
}

// textlight grey
.textlightgrey {
    color: #563f3f;
    font-size: 1rem;
}

// event workshop text color

.large-textsmall {
    font-size: 1.2rem;
    font-weight: 600;

    @include xsBreakPoint {
        font-size: 1.2rem !important;
        font-weight: 600;
    }
}

// footer section text

.footertext {
    color: #000000;
    font-weight: 600;
    font-size: 1rem;
}
.footergreytext {
    width: 100%;
    font-weight: 500;
    line-height: 1.5;
    @include themed() {
        color: t($textgrey);
    }
}
.gapsectionfooter {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 10%;
    cursor: pointer;
}

.textgap {
    padding-top: 30px !important;
}

// footer end section

// medium text size

// theme change
.text-change-grey {
    @include themed() {
        color: t($textgreyblack);
    }
}
