@use "../../../../../../scss/abstract/" as *;
.maonourwomensection {
    width: 100%;
    height: 100%;
    .textsellers {
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;

        @include xsBreakPoint {
            font-size: 1.2rem !important;
            font-weight: 600;
        }
        @include mdBreakPoint {
            font-size: 1.2rem !important;
            font-weight: 600;
        }
    }
    .insideourwomensection {
        width: 75%;
        margin: 0 auto;
        @include xsBreakPoint {
            width: 82%;
        }
        @include smBreakPoint {
            width: 82%;
        }
        @include mdBreakPoint {
            width: 82%;
        }
        @include lgBreakPoint {
            width: 89%;
        }
        @include xlBreakPoint {
            width: 85%;
        }
        .topdasahed {
            padding-top: 2%;
        }
    }
    .womensectionslider {
        width: 100% !important;
        padding-top: 3%;
        @include xsBreakPoint {
            padding-top: 10%;
        }
        @include smBreakPoint {
            padding-top: 10%;
        }
        @include mdBreakPoint {
            padding-top: 10%;
        }
        @include lgBreakPoint {
            padding-top: 10%;
        }
        @include xlBreakPoint {
            padding-top: 10%;
        }
        .insidewomensectionslider {
            width: 100%;
            display: flex;
            justify-content: center;
            position: relative;
            gap: 20px;
            @include xsBreakPoint {
                flex-direction: column;
            }
            @include smBreakPoint {
                flex-direction: column;
            }
            @include mdBreakPoint {
                flex-direction: column;
            }
            .leftwomeynsection {
                width: 30%;
                // border: 2px solid blue;
                padding-top: 5%;
                padding-bottom: 5%;
                margin: 0 auto;
                // background-image: url("../../../../../assests/homepage-logos/backgroundrounds.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: 300px 300px;
                box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
                backdrop-filter: blur(66px);
                position: relative;
                // z-index: 9898 !important;
                background-color: white;
                border-radius: 20px !important;
                @include xsBreakPoint {
                    background-size: 230px 230px;
                    width: 100%;
                    height: 350px;
                }
                @include smBreakPoint {
                    background-size: 230px 230px;
                    width: 80%;
                    height: 390px;
                }
                @include mdBreakPoint {
                    background-size: 230px 230px;
                    width: 80%;
                    height: 300px;
                }
                @include lgBreakPoint {
                    height: 330px;
                }

                .dummydots {
                    width: 60px;
                    height: 60px;
                    // background-color: red;
                    position: absolute;
                    border-radius: 50%;
                    background: linear-gradient(213.22deg, rgba(255, 179, 179, 0) -9.01%, #ffb3b3 139.42%);
                    top: 5%;
                    left: 15%;
                    animation: rounds 5s ease-in-out infinite;
                }
                .roundscirclesimage {
                    width: 300px;
                    height: 300px;
                    position: absolute;
                    top: 7%;
                    left: 6.5%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 0 !important;
                    // position:absolute;
                    // border:3px solid blue;
                    @include xsBreakPoint {
                        width: 290px;
                        height: 290px;
                        left: 2.5%;
                    }
                    @include smBreakPoint {
                        width: 320px;
                        height: 320px;
                        left: 8.9%;
                    }
                    @include mdBreakPoint {
                        width: 320px;
                        height: 320px;
                        left: 19%;
                    }
                    @include lgBreakPoint {
                        width: 260px;
                        height: 260px;
                        left: 1.7%;
                    }
                    @include xlBreakPoint {
                        width: 290px;
                        height: 290px;
                        left: 2%;
                        // top: 8%;
                    }
                }

                .dummydots1 {
                    width: 60px;
                    height: 60px;
                    // background-color: red;
                    position: absolute;
                    border-radius: 50%;
                    background: linear-gradient(213.22deg, rgba(255, 179, 179, 0) -9.01%, #ffb3b3 139.42%);
                    // top: 0;
                    right: 15%;
                    bottom: 8%;
                    animation: roundss 3s ease-in-out infinite;
                }
                .slideimagesize {
                    width: 180px !important;
                    margin: 0 auto;
                    height: 210px !important;
                    cursor: pointer;
                    // object-fit:contain;
                    z-index: 99 !important;
                    // margin-top: 6.8%;
                    border-radius:10px;

                    @include xsBreakPoint {
                        width: 200px !important;
                        height: 200px !important;
                        z-index: 9898989;
                    }
                    @include smBreakPoint {
                        width: 200px !important;
                        height: 200px !important;
                        z-index: 9898989;
                    }
                    @include mdBreakPoint {
                        width: 200px !important;
                        height: 200px !important;
                        z-index: 9898989;
                    }
                    @include lgBreakPoint {
                        width: 193px !important;
                        height: 193px !important;
                        // padding-top:5%;
                    }
                    @include xlBreakPoint {
                        width: 220px !important;
                        height: 220px !important;
                        // margin-top: 18.5%;
                    }
                }
                .imageboxsections {
                    width: 100%;
                    height: 100%;
                    // border:2px solid red;
                    @include xsBreakPoint {
                        margin-top: 20%;
                    }
                    @include smBreakPoint {
                        margin-top: 20%;
                    }
                    @include mdBreakPoint {
                        margin-top: 3%;
                    }
                    @include lgBreakPoint {
                        margin-top: 5%;
                    }
                    @include xlBreakPoint {
                        margin-top: 5%;
                    }
                }
            }
            .rightwomeynsection {
                width: 70%;
                // border: 2px solid blue;
                @include xsBreakPoint {
                    width: 100%;
                }
                @include smBreakPoint {
                    width: 100%;
                }
                @include mdBreakPoint {
                    width: 100%;
                }
                .insidesplitboxcarousels {
                    border: 2px solid blue;
                    height: 80%;
                }
                .rightinsidewomentext {
                    padding-top: 4%;
                    height: 100%;
                    padding-left: 5%;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    @include xsBreakPoint {
                        padding-left: 2%;
                    }
                    .descriptioninwomeyn {
                        width: 70%;
                        @include xsBreakPoint {
                            width: 100%;
                            line-height: 1.5;
                        }
                        @include smBreakPoint {
                            width: 100%;
                            line-height: 1.5;
                        }
                        @include mdBreakPoint {
                            width: 80%;
                            line-height: 1.5;
                        }
                        @include lgBreakPoint {
                            width: 100%;
                        }
                        @include xlBreakPoint {
                            width: 100%;
                        }
                    }
                    .womenactiveprofiletext {
                        display: flex;
                        gap: 30px;
                        padding-top: 3%;
                        padding-bottom: 1%;
                        height: 100px;
                        @include xsBreakPoint {
                            flex-direction: column;
                            height: auto;
                            // border:3px solid blue;
                        }
                        @include smBreakPoint {
                            flex-direction: column;
                            height: auto;
                        }
                        @include mdBreakPoint {
                            gap: 70px;
                        }
                        @include lgBreakPoint {
                            height: 120px;
                        }
                        @include xlBreakPoint {
                            height: 120px;
                        }
                        .selleractives {
                            width: 100%;
                            background-color: #e95a5a;
                            color: white;
                            border: none;
                            outline: none;
                            cursor: pointer;
                            padding: 7px 40px;
                            border-radius: 4px;
                            text-transform: capitalize;

                            @include lgBreakPoint {
                                width: 100%;
                                padding: 4px 30px;
                            }
                            @include xlBreakPoint {
                                width: 100%;
                                padding: 6px 30px;
                            }
                        }
                        .imagebackgroundwomen {
                            background: #ffffff;
                            box-shadow: 8px 4px 64px rgba(0, 0, 0, 0.08);
                            border-radius: 4px;
                            width: 40px;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                        }
                        .socialspacewomen {
                            display: flex;
                            gap: 20px;
                            @include xsBreakPoint {
                                gap: 40px;
                                // height:100px;
                            }
                            @include smBreakPoint {
                                gap: 40px;
                            }
                            .socialmdeiaicons {
                                width: 25px;
                                height: 25px;
                                object-fit: contain;
                                @include xsBreakPoint {
                                    width: 20px;
                                    height: 20px;
                                }
                                @include lgBreakPoint {
                                    width: 20px;
                                    height: 20px;
                                }
                                @include xlBreakPoint {
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// @keyframes rounds {
//     50% {
//         transform: translateY(50px);
//     }
//     100% {
//         transform: translateY(0px);
//     }
// }

// @keyframes roundss {
//     50% {
//         transform: translateY(-40px);
//     }
//     100% {
//         transform: translateY(0px);
//     }
// }
