@use "../../../../scss/abstract/" as *;

.maincardservices {
    width: 100%;
    height: 100%;
    // padding-bottom: 5%;
    position: relative;
    z-index: 9988898898989 !important;

    .insideservicecards {
        width: 100%;
        .images {
            width: 100%;
            height: 160px;
            object-fit: contain;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.womeynmainsectionpre {

    z-index: 989898989898 !important;
    .bodysectionwomeynpre {
        width: 100%;
        margin: 0 auto;
        position: relative;
        @include xsBreakPoint {
            width: 100%;
            padding-top: 6%;
        }
        @include smBreakPoint {
            width: 100%;
            // padding-top: 6%;
        }
        @include mdBreakPoint {
            width: 100%;
        }
        @include lgBreakPoint {
            width: 100%;
            // border: 1px solid red;
            margin:0 auto !important;
        }
        @include xlBreakPoint {
            width: 100%;
            margin:0 auto !important;

        }

        .emptyboxcolorright {
            position: absolute;
            width: 15%;
            height: 80%;
            background: #e95a5a;
            opacity: 0.34;
            right: 0;
            filter: blur(329px);
        }
        .emptyboxcolorleft {
            position: absolute;
            width: 15%;
            height: 80%;
            background: #fecf9d;
            opacity: 0.36;
            filter: blur(239.825px);
            left: 0;
            top: 50%;
        }
        .imagesectionwomeyn {
            .womeynbannerpre {
                width: 100%;
                height: 350px;
                @include xsBreakPoint {
                    width: 100%;
                    height: auto;
                }
                @include smBreakPoint {
                    width: 100%;
                    height: auto;
                }
                @include mdBreakPoint {
                    width: 100%;
                    height: auto;
                }
                @include lgBreakPoint {
                    width: 100%;
                    height: auto;
                }
            }
        }
        .ourwomenpreneurs {
            padding-top: 3%;
            .loreamtextwomen {
                width: 65%;
                color: rgba(0, 0, 0, 0.7);
                padding-top: 1%;
                @include xsBreakPoint {
                    width: 100%;
                    padding-bottom: 2%;
                }
                @include smBreakPoint {
                    width: 100%;
                    padding-bottom: 2%;
                }
            }
        }
        .serachsectionwomen {
            display: flex;
            gap: 20px;
            justify-content: space-between;
            padding-top: 2%;
            @include xsBreakPoint {
                flex-direction: column;
                gap: 20px;
            }
            @include smBreakPoint {
                // flex-direction: column;
                display: flex;
                gap: 10px;
            }
            .serachwomenpresection {
                border: 2px solid #e0e0e0;
                border-radius: 8px;
                display: flex;
                padding: 0;
                background: linear-gradient(0deg, rgba(241, 241, 241, 0.32), rgba(241, 241, 241, 0.32)), #ffffff;
                align-items: center;
                padding: 5px 20px;
                gap: 20px;
                .inputtypesection {
                    border: none !important;
                    background: linear-gradient(0deg, rgba(241, 241, 241, 0.32), rgba(241, 241, 241, 0.32)), #ffffff;
                    padding: 0 !important;
                    outline: none !important;
                    color:grey;
                }
                .serachiconwomen {
                    width: 100%;
                    height: 25px;
                    cursor: pointer;
                    @include smBreakPoint {
                        // height: 25px;
                        width: 15px;
                    }
                }
                @include smBreakPoint {
                    width: 100%;
                }
            }
        }
    }
}

.sellerimagebox {
    width: 100%;
    height: auto;
    position: relative;
    .sellerimagesize {
        // height: 100%;
        width: 100%;
        object-fit: contain;
        border: 2px solid red;
        border-radius: 10px !important;
        @include xsBreakPoint {
            height: 320px;
            width: 100%;
        }
        @include smBreakPoint {
            height: 250px;
        }
        @include mdBreakPoint {
            height: 250px;
        }
        @include lgBreakPoint {
            height: 240px;
            width: 100%;
        }
        @include xlBreakPoint {
            height: 270px;
            width: 100%;
        }
    }
}

.emptynoimage {
    // border: 1px solid red;
    height: 100%;
    width: 100%;
    border-radius: 10px;

    .sellerimagesizes {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}

.sellerimagebox::before {
    height: 100%;
    width: 100%;
    background: linear-gradient(
        180deg,
        rgba(18, 18, 18, 0) 0%,
        rgba(18, 18, 18, 0.3) 76.56%,
        rgba(18, 18, 18, 0.8) 100%
    );
    position: absolute;
    content: "";
    border-radius: 10px !important;
}

.arrowsizefix {
    width: 15px;
    height: 15px;
    object-fit: contain;
}

// card product categorys

.star {
    width: 30%;
    height: auto;
}

.ionicicons {
    color: red !important;
}

.loaderskelimage {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.sellerimagesize {
    width: 100%;
    height: 220px;
    object-fit: contain;
    border-radius: 10px;
    // border:1px solid red;

    @include xsBreakPoint {
        height: 320px;
        width: 100%;
    }
    @include smBreakPoint {
        height: 250px;
    }
    @include mdBreakPoint {
        height: 250px;
    }
    @include lgBreakPoint {
        height: 240px;
        width: 100%;
    }
    @include xlBreakPoint {
        height: 270px;
        width: 100%;
    }
}
.sellerimagesize:hover {
    transform: scale(1.1);
}
.plussection {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    box-shadow:
        rgba(0, 0, 0, 0.12) 0px 1px 3px,
        rgba(0, 0, 0, 0.24) 0px 1px 2px;
    position: absolute;
    background: white;
    right: 8%;
    top: 5%;
    z-index: 989989898898989898989889898989889898999;
    cursor: pointer;
}
.plus {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
    padding-top: 2%;
}
.stars {
    width: 30%;
    height: 30px;
    object-fit: contain;
    cursor: pointer;
    @include mdBreakPoint {
        width: 40%;
    }
    @include lgBreakPoint {
        width: 46%;
    }
    @include xlBreakPoint {
        width: 46%;
    }
}
.cardinsidesection {
    width: 90%;
    margin: 0 auto;
    padding-top: 6%;
    @include xsBreakPoint {
        padding-top: 4%;
    }
    @include smBreakPoint {
        padding-top: 4%;
    }
    @include mdBreakPoint {
        padding-top: 4%;
    }
    @include lgBreakPoint {
        padding-top: 4%;
    }
    @include xlBreakPoint {
        padding-top: 4%;
    }
}
.cardsellerborder {
    padding-top: 4%;
    .cardsellerinsideborder {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
}
.cardpricesection {
    display: flex;
    gap: 10%;
    padding-top: 5%;
    padding-bottom: 10%;
    @include lgBreakPoint {
        width: 100%;
        gap: 10px;
    }
}
.splitoffers {
    display: flex;
    @include lgBreakPoint
    {
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }
    @include xlBreakPoint
    {
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }
}

// .brandname:hover {
//     color: #e95a5a !important;
// }
.brandname{
    color:#676161;
}

.productNametext
{
    // fontweight:"bold";
    // color:red;
    font-weight:600;
}
.productNametext:hover {
    color: #e95a5a !important;
}
.emptyboxrightcolor {
    // background-color: orange;
    position: absolute;
    width: 12%;
    height: 40% !important;
    background: #fecf9d;
    opacity: 0.4;
    filter: blur(100px);
    left: 0;
    top: 0%;
    z-index: 0;
}
.emptyboxleftcolor {
    position: absolute;
    width: 10%;
    height: 30% !important;
    background: #e95a5a;
    opacity: 0.4;
    filter: blur(100px);
    right: 5%;
    top: -5%;
    z-index: 0;
}

.emptyboxleftcolor1 {
    position: absolute;
    width: 10%;
    height: 20% !important;
    background: #415b91;
    opacity: 0.4;
    filter: blur(100px);
    right: 0%;
    top: 30%;
    z-index: 0;
}

.emptyboxleftcolor2 {
    position: absolute;
    width: 15%;
    height: 25% !important;
    background: #e95a5a;
    opacity: 0.4;
    filter: blur(100px);
    left: 0%;
    top: 50%;
    z-index: 0;
}

.emptyboxleftcolor3 {
    position: absolute;
    width: 5%;
    height: 50% !important;
    background: #ffe7cd;
    opacity: 0.3;
    filter: blur(100px);
    right: 0%;
    top: 70%;
    z-index: 0 !important;
}

.emptyboxleftcolor4 {
    position: absolute;
    width: 15%;
    height: 10% !important;
    background: #ffe7cd;
    opacity: 0.6;
    filter: blur(100px);
    left: 0%;
    bottom: 0%;
    z-index: 0;
}


.imagebox
{
    border:1px solid #F1F1F1;
    background-color:#F1F1F1;
    // border-bottom-left-radius:20px;
    // border-bottom-right-radius:20px;

}