@use "../../../../../scss/abstract/" as *;

// .womeynmainsectionpre {
//     width: 100%;
//     height: 100%;
//     position: relative;
//     z-index: 9 !important;
//     border:3px solid blue;
    .bodysectionwomeynpre {
        width: 75%;
        height:100%;
        margin: 0 auto;
        position: relative;
        z-index:8 !important;
        @include xsBreakPoint {
            width: 85%;
            padding-top: 6%;
        }
        @include smBreakPoint {
            width: 85%;
            padding-top: 6%;
        }
        @include mdBreakPoint {
            width: 85%;
        }
        @include lgBreakPoint {
            width: 89%;
        }
        @include xlBreakPoint {
            width: 85%;
        }

        .emptyboxcolorright {
            position: absolute;
            width: 15%;
            height: 80%;
            background: #e95a5a;
            opacity: 0.34;
            right: 0;
            filter: blur(329px);
        }
        .emptyboxcolorleft {
            position: absolute;
            width: 15%;
            height: 80%;
            background: #fecf9d;
            opacity: 0.36;
            filter: blur(239.825px);
            left: 0;
            top: 50%;
        }
        .imagesectionwomeyn {
            .womeynbannerpre {
                width: 100%;
                height: 350px;
                @include xsBreakPoint {
                    width: 100%;
                    height: auto;
                }
                @include smBreakPoint {
                    width: 100%;
                    height: auto;
                }
                @include mdBreakPoint {
                    width: 100%;
                    height: auto;
                }
                @include lgBreakPoint {
                    width: 100%;
                    height: auto;
                }
            }
        }
        .ourwomenpreneurs {
            padding-top: 3%;
            .loreamtextwomen {
                width: 65%;
                color: rgba(0, 0, 0, 0.7);
                padding-top: 1%;
                @include xsBreakPoint {
                    width: 100%;
                    padding-bottom: 2%;
                }
                @include smBreakPoint {
                    width: 100%;
                    padding-bottom: 2%;
                }
            }
        }
        .serachsectionwomen {
            display: flex;
            gap: 20px;
            justify-content: space-between;
            padding-top: 2%;
            @include xsBreakPoint {
                flex-direction: column;
                gap: 20px;
            }
            @include smBreakPoint {
                // flex-direction: column;
                display: flex;
                gap: 20px;
            }
            .serachwomenpresection {
                border: 2px solid #e0e0e0;
                border-radius: 8px;
                display: flex;
                padding: 0;
                background: linear-gradient(0deg, rgba(241, 241, 241, 0.32), rgba(241, 241, 241, 0.32)), #ffffff;
                align-items: center;
                padding: 5px 20px;
                gap: 20px;
                .inputtypesection {
                    border: none !important;
                    background: linear-gradient(0deg, rgba(241, 241, 241, 0.32), rgba(241, 241, 241, 0.32)), #ffffff;
                    padding: 0 !important;
                    outline: none !important;
                }
                .serachiconwomen {
                    width: 100%;
                    height: 25px;
                    @include smBreakPoint {
                        height: 23px;
                    }
                }
                @include smBreakPoint {
                    width: 100%;
                }
            }
        }
    }
// }

.sellerimagebox {
    width: 100%;
    height: auto;
    position: relative;
    .sellerimagesize {
        height: 100%;
        width: 100%;
        border-radius: 10px !important;
        @include mdBreakPoint {
            height: 100%;
        }
        @include lgBreakPoint {
            height: 100%;
            width: 100%;
        }
        @include xlBreakPoint {
            height: 100%;
            width: 100%;
        }
    }
}

.emptynoimage {
    border: 1px solid red;
    height: 100%;
    width: 100%;
    border-radius: 10px;

    .sellerimagesizes {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}

.sellerimagebox::before {
    height: 100%;
    width: 100%;
    background: linear-gradient(
        180deg,
        rgba(18, 18, 18, 0) 0%,
        rgba(18, 18, 18, 0.3) 76.56%,
        rgba(18, 18, 18, 0.8) 100%
    );
    position: absolute;
    content: "";
    border-radius: 10px !important;
}

.arrowsizefix {
    width: 15px;
    height: 15px;
    object-fit: contain;
}





.emptyboxrightcolor {
    // background-color: orange;
    position: absolute;
    width: 12%;
    height: 40% !important;
    background: #fecf9d;
    opacity: 0.4;
    filter: blur(100px);
    left: 0;
    top:0%;
    z-index: 0 !important;
  }
  .emptyboxleftcolor {
    position: absolute;
    width: 10%;
    height: 30% !important;
    background: #e95a5a;
    opacity: 0.4;
    filter: blur(100px);
    right: 5%;
    top: -5%;
    z-index: 0;
  }
  
  
  .emptyboxleftcolor1
  {
    position: absolute;
    width: 18%;
    height: 20% !important;
    background: #415B91;
    opacity: 0.4;
    filter: blur(100px);
    right: 0%;
    top: 30%;
    z-index: 0;
  }
  
  .emptyboxleftcolor2
  {
    position: absolute;
    width: 15%;
    height: 25% !important;
    background: #E95A5A;
    opacity: 0.4;
    filter: blur(100px);
    left: 0%;
    top: 50%;
    z-index: 0;
  }
  
  
  .emptyboxleftcolor3
  {
    position: absolute;
    width: 25%;
    height: 30% !important;
    background: #FFE7CD;
    opacity: 0.6;
    filter: blur(100px);
    right: 0%;
    top: 70%;
    z-index: 0;
  }
  
  .emptyboxleftcolor4
  {
    position: absolute;
    width: 15%;
    height: 10% !important;
    background: #FFE7CD;
    opacity: 0.6;
    filter: blur(100px);
    left: 0%;
    bottom: 0%;
    z-index: 0;
  }