@use "../../../../scss/abstract/" as *;

.insideprofilesection {
    width: 100%;
    display: flex;
    gap: 30px;
    padding-bottom:8%;
    position:relative;
    z-index:2;
    overflow:hidden;
    margin:0 auto;

    @include xsBreakPoint {
        width: 100%;
        padding-top: 6%;
        flex-direction: column;

      }
      @include smBreakPoint {
        width: 100%;
        padding-top: 6%;
        flex-direction: column;

      }
      @include mdBreakPoint {
        width: 100%;
        flex-direction: column;

      }
      @include lgBreakPoint {
        width: 100%;
        padding-top: 2.5%;
        
      }
      @include xlBreakPoint {
        width: 100%;
        padding-top: 3%;

      }
   

  
    .leftsidebarprofile {
        width: 30%;
        // border: 2px solid red;
        height: 100%;
        @include xsBreakPoint {
            width: 100%;
            margin:0 auto;
        
        }
        @include smBreakPoint {
            width: 100%;
            margin:0 auto;

        }
        @include mdBreakPoint {
            width: 100%;
        }
    }
    .rightmainprofile {
        width: 70%;
        // border: 1px solid #9f9f9f;
        border-radius: 15px;
        height: 100%;
        margin-bottom:5%;
        background-color:none;
        @include xsBreakPoint {
            width: 100%;
            margin:0 auto;
        }
        @include smBreakPoint {
            width: 100%;
            margin:0 auto;
        }
        @include mdBreakPoint {
            width: 100%;
        }
    }
}




.emptyboxrightcolor {
    // background-color: orange;
    position: absolute;
    width: 12%;
    height: 40% !important;
    background: #fecf9d;
    opacity: 0.4;
    filter: blur(100px);
    left: 0;
    top:0%;
    z-index: 0 !important;
  }
  .emptyboxleftcolor {
    position: absolute;
    width: 10%;
    height: 30% !important;
    background: #e95a5a;
    opacity: 0.4;
    filter: blur(100px);
    right: 5%;
    top: -5%;
    z-index: 0;
  }
  
  
  .emptyboxleftcolor1
  {
    position: absolute;
    width: 18%;
    height: 20% !important;
    background: #415B91;
    opacity: 0.4;
    filter: blur(100px);
    right: 0%;
    top: 30%;
    z-index: 0;
  }
  
  .emptyboxleftcolor2
  {
    position: absolute;
    width: 15%;
    height: 25% !important;
    background: #E95A5A;
    opacity: 0.4;
    filter: blur(100px);
    left: 0%;
    top: 50%;
    z-index: 0;
  }
  
  
  .emptyboxleftcolor3
  {
    position: absolute;
    width: 25%;
    height: 30% !important;
    background: #FFE7CD;
    opacity: 0.6;
    filter: blur(100px);
    right: 0%;
    top: 70%;
    z-index: 0;
  }
  
  .emptyboxleftcolor4
  {
    position: absolute;
    width: 15%;
    height: 10% !important;
    background: #FFE7CD;
    opacity: 0.6;
    filter: blur(100px);
    left: 0%;
    bottom: 0%;
    z-index: 0;
  }

