@use "variables" as *;
$primary: "primary";
$secondary: "secondary";
$background: "background";
$inverter: "inverter";
$header: "headerlight";
$text: "text";
$card: "card";
$emptyboxright: "emptyboxright";
$emptyboxleft: "emptyboxleft";
$textgrey: "textgrey";

$themes: (
    light: (
        background: $background--light,
        inverter: $inverter--light,
        headerlight: $header--light,
        text: $text--light,
        card: $card--light,
        emptyboxright: $emptybox-right--light,
        emptyboxleft: $emptybox-left--light,
        textgrey: $text-grey--light,
    ),
    dark: (
        background: $background--dark,
        inverter: $inverter--dark,
        headerlight: $header--dark,
        text: $text--dark,
        card: $card--dark,
        emptyboxright: $emptybox-right--dark,
        emptyboxleft: $emptybox-left--dark,
        textgrey: $text-grey--dark,
    ),
);
