@use "variables" as *;
$primary: "primary";
$secondary: "secondary";
$background: "background";
$inverter: "inverter";
$header: "headerlight";
$text: "text";
$card: "card";
$emptyboxright: "emptyboxright";
$emptyboxleft: "emptyboxleft";
$textgrey: "textgrey";
$footersignup: "footersignup";
$textgreen: "textgreen";
$textgreylight: "textgreylight";
$textblack: "textblack";
$textgreyblack:"textgreyblack";
$themes: (
    light: (
        background: $background--light,
        inverter: $inverter--light,
        headerlight: $header--light,
        text: $text--light,
        card: $card--light,
        emptyboxright: $emptybox-right--light,
        emptyboxleft: $emptybox-left--light,
        textgrey: $text-grey--light,
        footersignup: $footer-signup--light,
        textgreen: $text--light--green,
        textgreylight: $text--light--grey,
        textblack: $text--light-black,
        textgreyblack:$text--light-grey-black,
    ),
    dark: (
        background: $background--dark,
        inverter: $inverter--dark,
        headerlight: $header--dark,
        text: $text--dark,
        card: $card--dark,
        emptyboxright: $emptybox-right--dark,
        emptyboxleft: $emptybox-left--dark,
        textgrey: $text-grey--dark,
        footersignup: $footer-signup--dark,
        textgreen: $text--dark--orange,
        textgreylight: $text--dark--grey,
        textblack: $text--dark-black,
        textgreyblack:$text--dark-grey-black,

    ),
);
