//Light colors
$background--light: white;
$inverter--light: 0;
$header--light:white;
$text--light:black;
$card--light:white;
$emptybox-right--light:#E95A5A;
$emptybox-left--light:#FECF9D;
$text-grey--light:#898989;

//Dark colors
$background--dark: black;
$inverter--dark: 1;
$text--dark:white;
$header--dark:#1F4590;
$card--dark:#323232;
$emptybox-right--dark:black;
$emptybox-left--dark:black;
$text-grey--dark:#898989;





