//Light colors
$primary--light: white;
$secondary--light: #04294b;
$primary-lightened: rgba(109, 223, 216, 0.2);
$background--light: white;
$background-alt--light: white;
$inverter--light: 0;
// text color light---
$text--light: white;
// text color dark---
$text--dark: black;
//Dark colors
$primary--dark: white;
$secondary--dark: black;
$background--dark: black;
$background-alt--dark: black;
$inverter--dark: 1;


// text color