@use "scss" as *;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.womeyn-enduser {
    width: 100vw;
    height: auto;
    overflow: hidden;
    @include themed() {
        background: t($background);
        color: t($text);
    }
    .inside-main-apphome {
        width: 100%;
        height: 100%;
        position: relative;
        // overflow-y: auto;
        .header-appsection {
            position: fixed;
            top: 0px;
            background-color: white;
            font-size: 20px;
            width: 100%;
            height: auto;
            z-index: 989898;
        }
        .body-section-app {
            width: 100%;
            height: 80%;
            margin-top: 18vh;
        }
    }
}
