@use "scss" as *;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: 2px solid blue;
}
.womeyn-enduser {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    // z-index: 200000000;
    @include themed() {
        background: t($background);
        color: t($textwhite);
    }
}

